{{#with AdmissionOrders}}
<section class="frow" id="admission-orders">
  <div class="container-padding width-100">
    <div class="container mb-20">
      {{> formTitle ..}}
    </div>
    <div class="new-medications ba">
      <div class="frow container p-10 ba">
        <div class="frow col-5-12">
          <span class="text-uppercase col-3-6"><h4>New Medications</h4></span>
          <div class="col-3-6">
            <input type="checkbox" name="spanish" id="spanish" />
            <label for="spanish">Spanish Translation</label>
          </div>
        </div>
      </div>
      <table class="striped width-100">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Medication Name</th>
            <th>Dose</th>
            <th>Route</th>
            <th>Frequency</th>
            <th>Purpose</th>
          </tr>
        </thead>
        <tbody>
           {{#each MedicineDoseAdvised}}
          <tr>
            <td>{{counter @index}}</td>
            <td>{{formatDate Date}}</td>
            <td>{{MedicineNameList}}</td>
            <td>{{Dose}}</td>
            <td>{{Route}}</td>
            <td>{{Frequency}}</td>
            <td>{{Purpose}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="treatment-orders ba">
      <div class="frow container p-10 ba">
        <div class="frow col-6-12">
          <span class="text-center col-3-6"><h4>Treatment Orders</h4></span>
        </div>
      </div>
      <table class="striped width-100">
        <col width="17.0%">
        <col width="16.6%">
        <col width="16.6%">
        <col width="16.6%">
        <col width="16.6%">
        <col width="16.6%">
        <tbody>
          <tr>
            <td colspan="6">
              {{> checkbox IsChecked=Discontinue name="Discontinue" }}
              
            </td>
          </tr>
          <tr>
            <td colspan="6">
              {{> checkbox IsChecked=RefillMedications name="Refill Medications" }}
            </td>
          </tr>
          <tr>
            <td colspan="6"></td>
          </tr>
          <tr>
            <td colspan="1">
              <span>DIET</span>
            </td>
            <td colspan="5">
              <div class="frow cb justify-start" style="gap: 10px;">
                {{#each @root.SelectedPatientDiets}}
                {{> checkbox IsChecked=IsChecked name=DietName }}
                {{/each}}
                <span class="cb">
                  {{> checkbox IsChecked=OtherDietBool name='Others:' }}
                  <span class="text-bold p-5 margin-remover">{{{OtherDietTextbox}}}</span>
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <span>DME</span>
            </td>
            <td colspan="5">
              <div class="frow cb justify-start">
                <div class="frow cb justify-start" style="gap: 10px;">
                  {{#each @root.SelectedPatientsDME}}
                  {{> checkbox IsChecked=IsChecked name=DMEName }}
                  {{/each}}
                  <span class="cb">
                    {{> checkbox IsChecked=OtherDMEBool name='Others:' }}
                    <span class="text-bold p-5 margin-remover">{{{OtherDMETextbox}}}</span>
                  </span>
                </div>
              </div>
              </div>
            </td>
          </tr>
          
          <tr>
            <td colspan="1">
              <span>SUPPLIES</span>
            </td>
            <td colspan="5">
              <div class="frow cb justify-start">
                <div class="frow cb justify-start" style="gap: 10px;">
                  {{#each @root.SelectedPatientSupplies}}
                  {{> checkbox IsChecked=IsChecked name=SuppliesName }}
                  {{/each}}
                  <span class="cb">
                    {{> checkbox IsChecked=OtherSuppliesBool name='Others:' }}
                    <span class="text-bold p-5 margin-remover">{{{OtherSuppliesTextbox}}}</span>
                  </span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="6" class="ba">
              <div class="frow justify-start">
                <span>Refer To:</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="cb">
                {{> checkbox IsChecked=HomeHealthDueTo name="Home Health Due To" }}
              </div>
            </td>
            <td colspan="5">
              <div class="frow justify-start">
                <div class="frow col-6-6 justify-start gutters">
                  <span>Name of Health Agency:</span>
                  {{#if (isTrue HomeHealthDueTo)}}
                  <span><strong>{{@root.AppointmentInformation.Referral.HH}}</strong></span>
                  {{/if}}
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="cb">
                {{> checkbox IsChecked=Cardiology name="Cardiology" }}
              </div>
            </td>
            <td colspan="5">
              <div class="frow justify-start">
                <div class="frow col-2-6 justify-start gutters">
                  <span>Name</span>
                  <span class="text-bold">{{CardiologyName}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Tel:</span>
                  <span class="text-bold">{{CardiologyTel}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Location:</span>
                  <span class="text-bold">{{CardiologyLocation}}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="cb">
                 {{> checkbox IsChecked=WoundCare name="WoundCare" }}
              </div>
            </td>
            <td colspan="5">
              <div class="frow justify-start">
                <div class="frow col-2-6 justify-start gutters">
                  <span>Name</span>
                  <span class="text-bold">{{WoundCareName}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Tel:</span>
                  <span class="text-bold">{{WoundCareTel}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Location:</span>
                  <span class="text-bold">{{WoundCareLocation}}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="frow justify-start gutters">
                <div class="col-2.5-6 cb">
                    {{> checkbox IsChecked=Surgery name="Surgery" }}
                </div>
                <div class="col-3.5-6" style="margin-left: 15px;">
                  <span>Procedure:</span>
                  <span>{{Procedure}}</span>
                </div>
              </div>
            </td>
            <td colspan="5">
              <div class="frow justify-start">
                <div class="frow col-2-6 justify-start gutters">
                  <span>Name</span>
                  <span class="text-bold">{{SurgeryName}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Tel:</span>
                  <span class="text-bold">{{SurgeryTel}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Location:</span>
                  <span class="text-bold">{{SurgeryLocation}}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="cb">
                {{> checkbox IsChecked=PainSpecialist name="Pain Specialist" }}
              </div>
            </td>
            <td colspan="5">
              <div class="frow justify-start">
                <div class="frow col-2-6 justify-start gutters">
                  <span>Name</span>
                  <span class="text-bold">{{PainSpecialisName}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Tel:</span>
                  <span class="text-bold">{{PainSpecialistTel}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Location:</span>
                  <span class="text-bold">{{PainSpecialistLocation}}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="cb">
                 {{> checkbox IsChecked=Orthopaedic name="Orthopaedic" }}
              </div>
            </td>
            <td colspan="5">
              <div class="frow justify-start">
                <div class="frow col-2-6 justify-start gutters">
                  <span>Name</span>
                  <span class="text-bold">{{OrthopaedicName}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Tel:</span>
                  <span class="text-bold">{{OrthopaedicTel}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Location:</span>
                  <span class="text-bold">{{OrthopaedicLocation}}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="6" class="ba">
              <div class="frow">
                <span><h4>Laboratory and Diagnostics</h4></span>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="6">
              <div class="frow justify-start">
                {{#each @root.SelectedPatientsLabDx}}
                  <div class="cb-table col-1-3">
                  {{> checkbox IsChecked=IsChecked name=LabDxName }}
                  </div>
                  {{!-- {{#if @last}} --}}
                {{/each}}

                  <div class="cb-table col-3-3">
                    {{> checkbox IsChecked=OtherLabDXBool name='Others: '}}
                    <span class="pl-5 text-bold">{{{OtherLabDXTextbox}}}</span>
                    {{!-- </div> --}}
                  </div>                  
                  {{!-- {{/if}} --}}
                
              </div>
            </td>
          </tr>
          {{!-- <tr>
            <td colspan="2">
              <div class="frow justify-start items-end no-mpa">
                {{> checkbox IsChecked=OtherLabDXBool name='Others: ' }}
                <span class="pl-5 text-bold">{{{OtherLabDXTextbox}}}</span>
              </div>
            </td>
          </tr> --}}
          
        </tbody>
      </table>
    </div>

     {{> doubleSignatures}}
  </div>
</section>
{{/with}}