{{#with AdmissionOrders}}
<section class="frow" id="admission-orders">
  <div class="container-padding width-100">
    <div class="container mb-20">
      {{> formTitle ..}}
    </div>
    <div class="new-medications ba">
      <div class="frow container p-10 ba">
        <div class="frow col-5-12">
          <span class="text-uppercase col-3-6">New Medications</span>
          <div class="col-3-6">
            <input type="checkbox" name="spanish" id="spanish" />
            <label for="spanish">Spanish Translation</label>
          </div>
        </div>
      </div>
      <table class="striped width-100">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Medication Name</th>
            <th>Dose</th>
            <th>Route</th>
            <th>Frequency</th>
            <th>Purpose</th>
          </tr>
        </thead>
        <tbody>
           {{#each MedicineDoseAdvised}}
          <tr>
            <td>{{counter @index}}</td>
            <td>{{Date}}</td>
            <td>{{MedicineName}}</td>
            <td>{{Dose}}</td>
            <td>{{Route}}</td>
            <td>{{Frequency}}</td>
            <td>{{Purpose}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="treatment-orders ba">
      <div class="frow container p-10 ba">
        <div class="frow col-6-12">
          <span class="text-center col-3-6">Treatment Orders</span>
        </div>
      </div>
      <table class="striped width-100">
        <col width="16.6%">
        <col width="16.6%">
        <col width="16.6%">
        <col width="16.6%">
        <col width="16.6%">
        <col width="16.6%">
        <tbody>
          <tr>
            <td colspan="6">
              {{> checkbox IsChecked=Discontinue name="Discontinue" }}
              
            </td>
          </tr>
          <tr>
            <td colspan="6">
              {{> checkbox IsChecked=RefillMedications name="Refill Medications" }}
            </td>
          </tr>
          <tr>
            <td colspan="6"></td>
          </tr>
          <tr>
            <td colspan="1">
              <span>DIET</span>
            </td>
            <td colspan="5">
              <div class="frow cbs justify-start" style="gap: 10px;">
                {{#each @root.SelectedPatientDiets}}
                {{> checkbox IsChecked=IsChecked name=DietName }}
                {{/each}}
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <span>DME</span>
            </td>
            <td colspan="5">
              <div class="frow cbs justify-start">
                <div class="frow cbs justify-start" style="gap: 10px;">
                {{#each @root.SelectedPatientsDME}}
                {{> checkbox IsChecked=IsChecked name=DMEName }}
                {{/each}}
              </div>
              </div>
            </td>
          </tr>
          
          <tr>
            <td colspan="1">
              <span>SUPPLIES</span>
            </td>
            <td colspan="5">
              <div class="frow cbs justify-start">
                <div class="frow cbs justify-start" style="gap: 10px;">
                {{#each @root.SelectedPatientSupplies}}
                {{> checkbox IsChecked=IsChecked name=SuppliesName }}
                {{/each}}
              </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="6" class="ba">
              <div class="frow">
                <span>Refer To:</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="cb">
                {{> checkbox IsChecked=HomeHealthDueTo name="Home Health Due To" }}
              </div>
            </td>
            <td colspan="5">
              <div class="frow justify-start">
                <div class="frow col-6-6 justify-start gutters">
                  <span>Name of Health Agency:</span>
                  <span>{{NameofHealthAgency}}</span>
                </div>
                <div class="frow col-6-6 justify-start gutters">
                  <span>Name of Hospice Agency:</span>
                  <span>{{NameofHospiceAgency}}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="cb">
                {{> checkbox IsChecked=Cardiology name="Cardiology" }}
              </div>
            </td>
            <td colspan="5">
              <div class="frow justify-start">
                <div class="frow col-2-6 justify-start gutters">
                  <span>Name</span>
                  <span>{{CardiologyName}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Tel:</span>
                  <span>{{CardiologyTel}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Location:</span>
                  <span>{{CardiologyLocation}}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="cb">
                 {{> checkbox IsChecked=WoundCare name="WoundCare" }}
              </div>
            </td>
            <td colspan="5">
              <div class="frow justify-start">
                <div class="frow col-2-6 justify-start gutters">
                  <span>Name</span>
                  <span>{{WoundCareName}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Tel:</span>
                  <span>{{WoundCareTel}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Location:</span>
                  <span>{{WoundCareLocation}}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="frow justify-start gutters">
                <div class="col-2.5-6 cb">
                    {{> checkbox IsChecked=Surgery name="Surgery" }}
                </div>
                <div class="col-3.5-6" style="margin-left: 15px;">
                  <span>Procedure:</span>
                  <span>{{Procedure}}</span>
                </div>
              </div>
            </td>
            <td colspan="5">
              <div class="frow justify-start">
                <div class="frow col-2-6 justify-start gutters">
                  <span>Name</span>
                  <span>{{SurgeryName}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Tel:</span>
                  <span>{{SurgeryTel}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Location:</span>
                  <span>{{SurgeryLocation}}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="cb">
                {{> checkbox IsChecked=PainSpecialist name="Pain Specialist" }}
              </div>
            </td>
            <td colspan="5">
              <div class="frow justify-start">
                <div class="frow col-2-6 justify-start gutters">
                  <span>Name</span>
                  <span>{{PainSpecialisName}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Tel:</span>
                  <span>{{PainSpecialistTel}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Location:</span>
                  <span>{{PainSpecialistLocation}}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="cb">
                 {{> checkbox IsChecked=Orthopaedic name="Orthopaedic" }}
              </div>
            </td>
            <td colspan="5">
              <div class="frow justify-start">
                <div class="frow col-2-6 justify-start gutters">
                  <span>Name</span>
                  <span>{{OrthopaedicName}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Tel:</span>
                  <span>{{OrthopaedicTel}}</span>
                </div>
                <div class="frow col-2-6 justify-start gutters">
                  <span>Location:</span>
                  <span>{{OrthopaedicLocation}}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="6" class="ba">
              <div class="frow">
                <span>Laboratory and Diagnostics</span>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="6">
              <div class="frow cbs justify-start">
                {{#each @root.SelectedPatientsLabDx}}
                  <div class="cb-table col-1-3">
                    {{> checkbox IsChecked=IsChecked name=LabDxName }}
                  </div>
                {{/each}}
              </div>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>

    <div class="signatures mt-60 mb-10">
      <div class="frow provider justify-start mb-60">
        <div class="frow title col-6-12 justify-start">
          <div class="col-4-12">
            <span> Provider Name: </span>
          </div>
          <div class="col-8-12">
            <span class="name text-underline px-30">Name</span>
          </div>
        </div>
        <div class="signature col-6-12 bb">
          Signature:
          <!-- <img class="signature-img" src="./logo/ferroli.png" alt="psig" /> -->
        </div>
        <div class="frow date col-6-12 justify-start">
          <div class="col-4-12">
            <span> Date: </span>
          </div>
          <div class="col-8-12">
            <span class="name text-underline px-30">Date here</span>
          </div>
        </div>
      </div>
      <div class="frow medical-provider justify-start">
        <div class="frow title col-6-12">
          <div class="col-4-12">
            <span> Physician Name: </span>
          </div>
          <div class="col-8-12">
            <span class="name text-underline px-30">Name</span>
          </div>
        </div>
        <div class="signature col-6-12 bb">
          Signature:
          <!-- <img class="signature-img" src="./logo/ferroli.png" alt="psig" /> -->
        </div>
        <div class="frow date col-6-12">
          <div class="col-4-12">
            <span> Date: </span>
          </div>
          <div class="col-8-12">
            <span class="name text-underline px-30">Date here</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
{{/with}}