<section class="frow" id="annual-wellness-form">
  <div class="container-padding width-100">
    <div class="content">
      <div class="container centered mb-20">
        {{> formTitle }}
      </div>

      {{#with AnnualWellnessForm}}
      <table class="striped width-100">
        <col width="16.6%" />
        <col width="16.6%" />
        <col width="16.6%" />
        <col width="16.6%" />
        <col width="16.6%" />
        <col width="16.6%" />
        <tbody>
          <tr>
            <td class="text-bold">Current list of patient's providers and suppliers</td>
            <td>Name</td>
            <td>Speciality</td>
            <td colspan="3">Reason</td>
          </tr>
          <tr>
            <td></td>
            <td>sample name to be removed</td>
            <td>sample Speciality</td>
            <td colspan="3">sample reason</td>
          </tr>
          <tr>
            <td class="text-bold">
              <div class="frow justify-start gutters">
                <span>Special Diet</span>
              </div>
              <div class="cb">
                {{> checkbox name="Yes" IsChecked=(checker SpecialDiet "Yes")}}
              </div>
              <div class="cb">
                {{> checkbox name="No" IsChecked=(checker SpecialDiet "No")}}
              </div>
            </td>
            <td>Description:</td>
            <td>
              <div class="cb">
                {{> checkbox name="Diabetic" IsChecked=Diabetic}}
              </div>
            </td>
            <td colspan="3">
              <div class="cb">
                {{> checkbox name="Dash" IsChecked=Dash}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-bold">Cognitive Impairment</td>
            <td>
              <div class="cb">
                 {{> checkbox name="None" IsChecked=(radioButtonChecker CognitiveImpairment "None")}}
              </div>
            </td>
            <td>
              <div class="cb">
                 {{> checkbox name="Dimentia" IsChecked=(radioButtonChecker CognitiveImpairment "Dimentia")}}
              </div>
            </td>
            <td colspan="3">
              <div class="cb">
                 {{> checkbox name="Mild Memory Loss" IsChecked=(radioButtonChecker CognitiveImpairment "Mild Memory Loss")}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-bold">List of medication, supplement and vitamins</td>
            <td>Please see attach</td>
          </tr>
          <tr>
            <td class="text-bold">Depression screening</td>
            <td>Felt depressed/hopeless over the last 2 weeks</td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker FeltDepressedhopelessOverTheLast2Weeks "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker FeltDepressedhopelessOverTheLast2Weeks "No")}}
                </div>
              </div>
            </td>
            <td colspan="2">
              <div class="frow justify-start">Evaluation/Referrals:</div>
              <div class="frow justify-start">Schedule Appointments:</div>
            </td>
            <td>Notes:</td>
          </tr>
          <tr>
            <td></td>
            <td>
              Little or no pleasure in doing thing over the last 2 weeks
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker LittleOrNoPleasureInDoingThingsOverTheLast2Weeks "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker LittleOrNoPleasureInDoingThingsOverTheLast2Weeks "No")}}
                </div>
              </div>
            </td>
            <td colspan="2">
              <div class="frow justify-start">
                <span>
                  Evaluation/Referrals:
                </span>
                <span class="text-bold" style="padding-left: 10px;">
                  {{LittleOrNoPleasureEvaluationReferrals}}
                </span>
              </div>
              <div class="frow justify-start">
                <span>
                  Schedule Appointments:
                </span>
                <span class="text-bold" style="padding-left: 10px;">
                  {{LittleOrNoPleasureScheduleAppointments}}
                </span>
              </div>
            </td>
            <td>
              <div class="frow justify-start">
                <span>
                 Notes:
                </span>
                <span class="text-bold" style="padding-left: 10px;">
                  {{LittleOrNoPleasureNotes}}
                </span>
              </div>
            </td>
          </tr>

          <tr>
            <td class="text-bold">Hearing loss screening</td>
            <td>
              Trouble hearing television or radio when others do not
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker TroubleHearingTelevisionAndAudioWhenOthersDoNot "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker TroubleHearingTelevisionAndAudioWhenOthersDoNot "No")}}
                </div>
              </div>
            </td>
            <td colspan="2">
              <div class="frow justify-start">
                <span>
                  Evaluation/Referrals:
                </span>
                <span class="text-bold" style="padding-left: 10px;">
                  {{TroubleHearingEvaluationReferrals}}
                </span>
              </div>
              <div class="frow justify-start">
                <span>
                  Schedule Appointments:
                </span>
                <span class="text-bold" style="padding-left: 10px;">
                  {{TroubleHearingScheduleAppointments}}
                </span>
              </div>
            </td>
            <td>
              <div class="frow justify-start">
                <span>
                 Notes:
                </span>
                <span class="text-bold" style="padding-left: 10px;">
                  {{TroubleHearingNotes}}
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>Strain or struggle to hear/understand conversations</td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker StrainOrStruggleToHearunderstandConversations "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker StrainOrStruggleToHearunderstandConversations "No")}}
                </div>
              </div>
            </td>
            <td colspan="2">
             <div class="frow justify-start">
                <span>
                  Evaluation/Referrals:
                </span>
                <span class="text-bold" style="padding-left: 10px;">
                  {{StrainEvaluationReferrals}}
                </span>
              </div>
             <div class="frow justify-start">
                <span>
                  Schedule Appointments:
                </span>
                <span class="text-bold" style="padding-left: 10px;">
                  {{StrainScheduleAppointments}}
                </span>
              </div>
            </td>
            <td>
              <div class="frow justify-start">
                <span>
                 Notes:
                </span>
                <span class="text-bold" style="padding-left: 10px;">
                  {{StrainNotes}}
                </span>
              </div>
            </td>
          </tr>

          <tr>
            <td class="text-bold">Home safety screening</td>
            <td>
              Throw rugs, poor lighting or slippery bathtub/shower at home
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker ThrowRugsPoorLightingOrSlipperyBathtubshowerAtHome "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker ThrowRugsPoorLightingOrSlipperyBathtubshowerAtHome "No")}}
                </div>
              </div>
            </td>
            <td colspan="2">
             <div class="frow justify-start">
                <span>
                  Evaluation/Referrals:
                </span>
                <span class="text-bold" style="padding-left: 10px;">
                  {{ThrowRugsEvaluationReferrals}}
                </span>
              </div>
              <div class="frow justify-start">
                <span>
                  Schedule Appointments:
                </span>
                <span class="text-bold" style="padding-left: 10px;">
                  {{ThrowRugsScheduleAppointments}}
                </span>
              </div>
            </td>
            <td>
              <div class="frow justify-start">
                <span>
                 Notes:
                </span>
                <span class="text-bold" style="padding-left: 10px;">
                  {{ThrowRugsNotes}}
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              Lack of grab bars, bathrooms, handrails on stairs and steps at
              home
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker LackOfGrabBarsbathroomsHandrailsOnStairsAndStepAtHom "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker LackOfGrabBarsbathroomsHandrailsOnStairsAndStepAtHom "No")}}
                </div>
              </div>
            </td>
            <td colspan="2">
              <div class="frow justify-start">
                <span>
                  Evaluation/Referrals:
                </span>
                <span class="text-bold" style="padding-left: 10px;">
                  {{LackOfGrabBarsEvaluationReferrals}}
                </span>
              </div>
              <div class="frow justify-start">
                <span>
                  Schedule Appointments:
                </span>
                <span class="text-bold" style="padding-left: 10px;">
                  {{LackOfGrabBarsScheduleAppoinments}}
                </span>
              </div>
            </td>
            <td>
              <div class="frow justify-start">
                <span>
                  Notes:
                </span>
                <span class="text-bold" style="padding-left: 10px;">
                  {{LackOfGrabBarsNotes}}
                </span>
              </div>
            </td>
          </tr>

          <tr>
            <td class="text-bold">Fall risk screening</td>
            <td>
              Unsteady or take longer han 30 seconds to get up and go
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker UnsteadyAndTakeLongerTha30SecondsToGetUpAndGo "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker UnsteadyAndTakeLongerTha30SecondsToGetUpAndGo "No")}}
                </div>
              </div>
            </td>
            <td colspan="2">
              <div class="frow justify-start">
                <span>
                  Evaluation/Referrals:
                </span>
                <span class="text-bold" style="padding-left: 10px;">
                  {{UnsteadyEvaluationReferrals}}
                </span>
              </div>
              <div class="frow justify-start">
                <span>
                  Schedule Appointments:
                </span>
                <span class="text-bold" style="padding-left: 10px;">
                  {{UnsteadyScheduleAppoinments}}
                </span>
              </div>
            </td>
           <td>
              <div class="frow justify-start">
                <span>
                  Notes:
                </span>
                <span class="text-bold" style="padding-left: 10px;">
                  {{UnsteadyNotes}}
                </span>
              </div>
            </td>
          </tr>

          <tr>
            <td class="text-bold">Advance care planning</td>
            <td>
              Patient consent: I consent to discuss end-of- life issues with my
              healthcare provider
            </td>
            <td>
              <div>PATIENT SIGNATURE</div>
              {{> signature name="patient"}}
            </td>
            <td colspan="2"></td>
            <td>{{@root.SelectedPatientData.SignatureDate}}</td>
          </tr>

          <tr>
            <td></td>
            <td>Patient has already executed an advance directive</td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker PatientsHaveAlradyExecutedAndAdvanceDirective "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker PatientsHaveAlradyExecutedAndAdvanceDirective "No")}}
                </div>
              </div>
            </td>
            <td colspan="3"></td>
          </tr>

          <tr>
            <td></td>
            <td>
              If no, patient was given an opportunity to execute an Advance
              Directive
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker IfNoPatientWasGivenAnOppurtunityToExecuteAnAdvanceDi "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker IfNoPatientWasGivenAnOppurtunityToExecuteAnAdvanceDi "No")}}
                </div>
              </div>
            </td>
            <td colspan="3"></td>
          </tr>

          <tr>
            <td></td>
            <td>
              Physician statement: “Patient has the ability to prepare an
              Advance Directive.”
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  <label for="name">YES</label>
                </div>
                <div class="cb">
                  <label for="name">NO</label>
                </div>
              </div>
            </td>
            <td colspan="3"></td>
          </tr>

          <tr>
            <td></td>
            <td>
              Physician has completed a Order of Life-Sustaining Treatment, or
              similardocument of another name, reflecting the patient’s wishes
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker PhysicianHaveCompletedAPhysicianOrder "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker PhysicianHaveCompletedAPhysicianOrder "No")}}
                </div>
              </div>
            </td>
            <td colspan="3"></td>
          </tr>

          <tr>
            <td></td>
            <td>Provider SIGNATURE</td>
            <td>
               {{> signature name="provider"}}
            </td>
            <td colspan="2"></td>
            <td>DATE: {{@root.AppointmentInformation.SignatureDate}}</td>
          </tr>
        </tbody>
      </table>


      {{!-- <div class="frow justify-start">
        <div class="col-1-3">
          <span>Preventive screening (frequency)</span>
        </div>
        <div class="col-1-3">
          <span>Coverage</span>
        </div>
        <div class="col-1-3">
          <span>Previously Screening If YES (When)</span>
        </div>
        <div class="frow justify-start">
          <span>Screened Schedule (5-10 Years)</span>
        </div> --}}


      <table class="striped width-100">
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
        <tbody>
          <tr>
            <td>
              <div class="frow justify-start">
                <span>Preventive screening (frequency)</span>
              </div>
              <div class="frow justify-start">Screened Schedule (5-10 Years)</div>
            </td>
            <td>Coverage</td>
            <td class="text-center" colspan="2">Previously Screening If YES (When)</td>
          </tr>
          <tr>
            <td><b> Bone mass measurements</b> (every 24 months)</td>
            <td>
              Medicare patients at risk for developing osteoporosis
            </td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened: </span>
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker BoneMassMeasurements.PreviouslyScreening "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker BoneMassMeasurements.PreviouslyScreening "No")}}
                </div>
              </div>
            </td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened On: </span>
                <span class="cb">{{BoneMassMeasurements.PreviouslyScreeningDate}}</span>
              </div>
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="NEEDS" IsChecked=BoneMassMeasurements.ScreeningRequired}}
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <b>Cardiovascular screening blood tests</b>
              (every 5 years)
              <br />&lt;Lipid panels> &lt;Cholesterol> &lt;Lipoprotein>
              &lt;Triglycerides>
            </td>
            <td>
              All asymptomatic Medicare patients (12-hour fast is required)
            </td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened: </span>
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker CardiovascularScreeningBloodTests.PreviouslyScreening "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker CardiovascularScreeningBloodTests.PreviouslyScreening "No")}}
                </div>
              </div>
            </td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened On: </span>
                <span class="cb">{{CardiovascularScreeningBloodTests.PreviouslyScreeningDate}}</span>
              </div>
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="NEEDS" IsChecked=CardiovascularScreeningBloodTests.ScreeningRequired}}
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <p>
                <b>Colorectal cancer screening, flexible sigmoidoscopy</b><br
                />(4 years, or once every 10 years after screening
                colonoscopy)
              </p>
              <p>
                <b>Screening Colonoscopy</b><br />(every 24 months at high
                risk; every 10 years not at high risk)
              </p>
              <p><b>Fecal occult blood test</b> (annually)</p>
              <p>
                <b>Barium enema</b><br />(every 24 months at high risk, every
                4 years not at high risk)
              </p>
            </td>
            <td>
              Medicare patients age 50 and up; for screening colonoscopy,
              those at high risk, no minimum age; no minimum age for having a
              barium enema as an alternative to a high risk screening
              colonoscopy if the patient is at high risk
            </td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened: </span>
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker ColorectalCancerScreeningFlexibleSigmoidoscopy.PreviouslyScreening "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker ColorectalCancerScreeningFlexibleSigmoidoscopy.PreviouslyScreening "No")}}
                </div>
              </div>
            </td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened On: </span>
                <span class="cb">{{ColorectalCancerScreeningFlexibleSigmoidoscopy.PreviouslyScreeningDate}}</span>
              </div>
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="NEEDS" IsChecked=ColorectalCancerScreeningFlexibleSigmoidoscopy.ScreeningRequired}}
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <b>Diabetes screening tests</b><br />(2 screening tests per year
              for patient diagnosed with pre- diabetes; 1 screening per year
              if previously tested, but not diagnosed with pre-diabetes or if
              never tested)
            </td>
            <td>
              Medicare patients with certain risk factors for diabetes or
              those diagnosed with pre-diabetes (patients previously diagnosed
              with diabetes aren't eligible)
            </td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened: </span>
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker DiabetesScreeningTests.PreviouslyScreening "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker DiabetesScreeningTests.PreviouslyScreening "No")}}
                </div>
              </div>
            </td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened On: </span>
                <span class="cb">{{DiabetesScreeningTests.PreviouslyScreeningDate}}</span>
              </div>
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="NEEDS" IsChecked=DiabetesScreeningTests.ScreeningRequired}}
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <b>Diabetes Self-Management Training (DSMT) and Medical
                Nutrition Therapy</b><br />(Up to 10 hours of initial training
              within a continuous12-month period; subsequent years up to 2
              hours of follow-up training each year after initial year)
            </td>
            <td>
              Medicare patients at risk for complications from diabetes,
              recently diagnosed with diabetes or previously diagnosed with
              diabetes (must certify DSMT need)
            </td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened: </span>
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker DiabetesSelfManagementTrainingDSMT.PreviouslyScreening "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker DiabetesSelfManagementTrainingDSMT.PreviouslyScreening "No")}}
                </div>
              </div>
            </td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened On: </span>
                <span class="cb">{{DiabetesSelfManagementTrainingDSMT.PreviouslyScreeningDate}}</span>
              </div>
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="NEEDS" IsChecked=DiabetesSelfManagementTrainingDSMT.ScreeningRequired}}
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <b>Glaucoma screening</b>
              (annually for patient in one or more high risk groups)
            </td>
            <td>
              Patients with diabetes mellitus, family historyor glaucoma,
              African-Americans age 50 andup, or Hispanic-Americans age 65 and
              up
            </td>
              <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened: </span>
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker GlaucomaScreening.PreviouslyScreening "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker GlaucomaScreening.PreviouslyScreening "No")}}
                </div>
              </div>
            </td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened On: </span>
                <span class="cb">{{GlaucomaScreening.PreviouslyScreeningDate}}</span>
              </div>
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="NEEDS" IsChecked=GlaucomaScreening.ScreeningRequired}}
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <b>Prostate cancer screening</b>
              (annually)<br />Digital rectal exam<br />Prostate-specific
              antigen test
            </td>
            <td>Male Medicare patients 50 and up</td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened: </span>
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker ProstateCancerScreening.PreviouslyScreening "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker ProstateCancerScreening.PreviouslyScreening "No")}}
                </div>
              </div>
            </td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened On: </span>
                <span class="cb">{{ProstateCancerScreening.PreviouslyScreeningDate}}</span>
              </div>
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="NEEDS" IsChecked=ProstateCancerScreening.ScreeningRequired}}
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <b>Screening PAP tests and pelvic examination</b>
              (Annually if high-risk, or child bearing age with abnormal PAP
              test within past 3 years; every 24 months for all other women)
            </td>
            <td>Female Medicare patients</td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened: </span>
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker ScreeningPAPTestsAndPelvicExamination.PreviouslyScreening "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker ScreeningPAPTestsAndPelvicExamination.PreviouslyScreening "No")}}
                </div>
              </div>
            </td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened On: </span>
                <span class="cb">{{ScreeningPAPTestsAndPelvicExamination.PreviouslyScreeningDate}}</span>
              </div>
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="NEEDS" IsChecked=ScreeningPAPTestsAndPelvicExamination.ScreeningRequired}}
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td><b>Screening mammography</b> (annually)</td>
            <td>All female patients 40 or older</td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened: </span>
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker ScreeningMammography.PreviouslyScreening "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker ScreeningMammography.PreviouslyScreening "No")}}
                </div>
              </div>
            </td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened On: </span>
                <span class="cb">{{ScreeningMammography.PreviouslyScreeningDate}}</span>
              </div>
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="NEEDS" IsChecked=ScreeningMammography.ScreeningRequired}}
                </div>
              </div>
            </td>

          </tr>

          <tr>
            <td>
              <b>Vaccines</b><br />&lt;Pneumococcal> (Once in a lifetime)<br
              />&lt;Seasonal influenza> (once per flu season in the fall or
              winter)<br />
              &lt;Hepatitis B> (scheduled dosages required)
            </td>
            <td>
              All Medicare patients; may provide additional pneumococcal
              vaccinations based on risk and if at least 5 years have passed
              since previous dose; for hepatitis B, if patient is medium/high
              risk
            </td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened: </span>
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker Vaccines.PreviouslyScreening "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker Vaccines.PreviouslyScreening "No")}}
                </div>
              </div>
            </td>
            <td>
              <div class="justify-start gutters" style="display:flex; flex-direction: row; gap:5px">
                <span class="cb">Previously Screened On: </span>
                <span class="cb">{{Vaccines.PreviouslyScreeningDate}}</span>
              </div>
            </td>
            <td>
              <div class="frow justify-start gutters">
                <div class="cb">
                  {{> checkbox name="NEEDS" IsChecked=Vaccines.ScreeningRequired}}
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      {{!-- </div> --}}
      {{/with}}
    </div>
  </div>
</section>