<section class="frow" id="assignment-insurance">
  <div class="container-padding width-100">
    <div class="content">
      <div class="container centered mb-20">
        {{> formTitle}}
      </div>
      <div class="text">
        <p>
          Medicare Certification: I certify that the information provided by me
          in applying for payment under TITLE XVII of the Social Security Act is
          correct and request on my behalf all authorized benefits. I hereby
          authorize and instruct my insurance carrier to make payment directly
          to <b>{{@root.AppointmentInformation.Office.OfficeName}}</b> for benefits (payments) otherwise
          payable to me. I agree to personally pay for any charge that are not
          covered by or collected from any insurance program including any
          deductibles and coinsurance amounts.
        </p>
        <p>
          I certify that all information given are correct and consent to the
          release of all records for payment of authorized benefits from
          Medical, Medicaid, or any other responsible payer be made in my behalf
          to <b>{{@root.AppointmentInformation.Office.OfficeName}}.</b>
        </p>
        <p>
          I understand that the Federal Patient Self -Determination Act of 1990
          requires that I be made aware of my right to make healthcare decision
          for myself. I understand that I may guess express my wishes in a
          document called an Advance Directives so that my wishes may be known
          when I am unable to speak for myself.
        </p>
      </div>
      <div class="declarations">
        <ol>
          <li>
            <div class="frow justify-start gutters">
              <span class="col-2-3">I have a Living Will declarations</span>
              <div class="frow justify-start" style="gap:10px">
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker @root.AppointmentInformation.LivingWillDeclaration "Yes")}}
                </div>
                <div class="cb">
                   {{> checkbox name="No" IsChecked=(checker @root.AppointmentInformation.LivingWillDeclaration "No")}}
                </div>
              </div>
            </div>
            <div class="col-1-1">
              <span>(If yes, please provide a copy of your will.)</span>
            </div>
          </li>
          <li>
            <div class="frow justify-start gutters">
              <span class="col-2-3">I have a Durable Power of Attorney for
                Health Care</span>
              <div class="frow justify-start" style="gap:10px">
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker @root.AppointmentInformation.DurablePowerOfAttorney "Yes")}}
                </div>
                <div class="cb">
                   {{> checkbox name="No" IsChecked=(checker @root.AppointmentInformation.DurablePowerOfAttorney "No")}}
                </div>
              </div>
            </div>
          </li>
        </ol>
      </div>
      <table class="striped">
        <col width="50%">
        <col width="50%">
        <tbody>
          <tr>
            <td>
              <span>
                Name of Patient: 
              </span>
              <span class="text-bold">
                {{@root.AppointmentInformation.PatientData.pyFullName}}
              </span>
              </td>
            <td>
              <span>
                Date of Birth:
              </span>
              <span class="text-bold">
                 {{formatDate @root.AppointmentInformation.PatientData.DateOfBirth}}
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <span>
                Address:
              </span>
              <span class="text-bold">
                {{@root.AppointmentInformation.PatientData.pyHomeAddress1}} {{@root.AppointmentInformation.PatientData.pyHomeAddress2}}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <div class="frow justify-start">
                <b class="col-1-1">Signature of Patient:</b>
                {{> signature name="patient"}}
              </div>
            </td>
            <td>Date: <b>{{formatDate @root.AppointmentInformation.PatientData.SignatureDate}}</b></td>
          </tr>
        </tbody>
      </table>
      <div class="legal-rep">
        <h3>LEGAL REPRESENTATIVE (IF PATIENT IS UNABLE TO SIGN)</h3>
        <p>
          Consent of Legal Guardian, Patient Advocate or Nearest Relative if
          patient is unable to sign<br />
          Consent of Caregiver if patient is unable to sign (Must have Power of
          Attorney)
        </p>
      </div>
      <table class="striped width-100">
        <tbody>
          <tr>
            <td colspan="6">
              <span>
                Name of Legal Representative: 
              </span>
              <span class="text-bold">
                {{@root.AppointmentInformation.PatientData.LegalRepresentative.pyFullName}}
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <span>
                Relationship: 
              </span>
              <span class="text-bold">
                {{@root.AppointmentInformation.PatientData.LegalRepresentative.RelationshipToThePatient}}
              </span>
            </td>
            <td colspan="3">
              <span>
                Telephone:
              </span>
              <span class="text-bold">
                {{@root.AppointmentInformation.PatientData.LegalRepresentative.pyPhoneNumber}}                
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="6">
              <span>
                Address:
              </span>
              <span class="text-bold">
                {{@root.AppointmentInformation.PatientData.LegalRepresentative.pyHomeAddress1}} {{@root.AppointmentInformation.PatientData.LegalRepresentative.pyHomeAddress2}} 
              </span>
            </td>
          </tr>
          <tr>
            {{!-- <td>
              <span>
                Unit:
              </span>
              <span class="text-bold">
                {{@root.AppointmentInformation.PatientData.LegalRepresentative.pyFullName}}
                Not present in data
              </span>
            </td>
            <td colspan="2">
              <span>
                Street:
              </span>
              <span class="text-bold">
                {{@root.AppointmentInformation.PatientData.LegalRepresentative.pyFullName}}
                Not present in data
              </span>
            </td> --}}
            <td colspan="3">
               <span>
                 City:
              </span>
              <span class="text-bold">
                {{@root.AppointmentInformation.PatientData.LegalRepresentative.pyCity}}
              </span>
            </td>
            <td>
              <span>
                State:
              </span>
              <span class="text-bold">
                {{@root.AppointmentInformation.PatientData.LegalRepresentative.pyState}}
              </span>
            </td>
            <td colspan="2">
              <span>
                Zip:
              </span>
              <span class="text-bold">
                {{@root.AppointmentInformation.PatientData.LegalRepresentative.pyPostalCode}}
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="3">Signature of Legal Rep:</td>
            <td colspan="3">Date:</td>
          </tr>
          <tr>
            <td colspan="3">
              <span>
                Name of Witness:
              </span>
               <span class="text-bold">
                 {{@root.AppointmentInformation.PatientData.Witness.pyFullName}}
                {{!-- Not present in data --}}
              </span>
            </td>
            <td colspan="2">
              <span>
                Signature:
              </span>
             {{> signature name="witness"}}
            </td>
            <td colspan="1">
              <span>
                Date: 
              </span>
              <span>
                 {{formatDate @root.AppointmentInformation.RecordReleaseAuthorization.WitnessDate}}
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="6">
              <span>
                Reason patient is unable to sign:
              </span>
              <span class="text-bold">
                 {{@root.AppointmentInformation.PatientData.Witness.LegalRepresentative.SpecificDetails}}
              </span>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>