<section class="frow" id="assignment-insurance">
  <div class="container-padding width-100">
    <div class="content">
      <div class="container centered mb-20">
        {{> formTitle}}
      </div>
      <div class="text">
        <p>
      {{ @root.AppointmentParagraph}}
        </p>
        {{!-- <p>
          I certify that all information given are correct and consent to the
          release of all records for payment of authorized benefits from
          Medical, Medicaid, or any other responsible payer be made in my behalf
          to <b>{{@root.AppointmentInformation.Office.OfficeName}}.</b>
        </p>
        <p>
          I understand that the Federal Patient Self -Determination Act of 1990
          requires that I be made aware of my right to make healthcare decision
          for myself. I understand that I may guess express my wishes in a
          document called an Advance Directives so that my wishes may be known
          when I am unable to speak for myself.
        </p> --}}
      </div>
      <div class="declarations">
        <ol>
          <li>
            <div class="frow justify-start gutters">
              <span class="col-2-3">I have a Living Will declarations</span>
              <div class="frow justify-start" style="gap:10px">
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker @root.AppointmentDetails.LivingWill "Yes")}}
                </div>
                <div class="cb">
                   {{> checkbox name="No" IsChecked=(checker @root.AppointmentDetails.LivingWill   "No")}}
                </div>
              </div>
            </div>
            <div class="col-1-1">
              <span>(If yes, please provide a copy of your will.)</span>
            </div>
          </li>
          <li>
            <div class="frow justify-start gutters">
              <span class="col-2-3">I have a Durable Power of Attorney for
                Health Care</span>
              <div class="frow justify-start" style="gap:10px">
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker @root.AppointmentDetails.DurablePower "Yes")}}
                </div>
                <div class="cb">
                   {{> checkbox name="No" IsChecked=(checker @root.AppointmentDetails.DurablePower "No")}}
                </div>
              </div>
            </div>
          </li>
        </ol>
      </div>
      <table>
        <col width="50%">
        <col width="50%">
        <tbody>
          <tr>
            <td>
              <span>
                Name of Patient: 
              </span>
              <span class="text-bold">
                {{@root.PatientDataEmbed.PatientFullName}}
              </span>
              </td>
            <td>
              <span>
                Date of Birth:
              </span>
              <span class="text-bold">
                 {{formatDate @root.PatientDataEmbed.DateOfBirth}}
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <span>
                Address:
              </span>
              <span class="text-bold">
                {{@root.PatientDataEmbed.HomeAddress}} {{@root.AppointmentInformation.PatientData.pyHomeAddress2}}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <div class="frow justify-start">
                <div class="frow row-start text-bold">Signature of Patient:
                  <span class="px-10">{{> signature name="patient"}}</span>
                </div>
                {{!-- <b class="col-1-1">Signature of Patient:</b>
                {{> signature name="patient"}} --}}
              </div>
            </td>
            <td>Date: <b>{{formatDate  @root.AppointmentDetails.PatientSignatureDate}}</b></td>
          </tr>
        </tbody>
      </table>
      <div class="legal-rep mt-30">
        <h3>LEGAL REPRESENTATIVE (IF PATIENT IS UNABLE TO SIGN)</h3>
        <p>
  
          {{ @root.LEGALREPRESENTATIVEIFPATIENTISUNABLETOSIGN}}
        </p>
      </div>
      <table class="striped width-100">
        <col width="16.6%">
        <col width="16.6%">
        <col width="16.6%">
        <col width="16.6%">
        <col width="16.6%">
        <col width="17%">
        <tbody>
          <tr>
            <td colspan="6">
              <span>
                Name of Legal Representative: 
              </span>
              <span class="text-bold">
                {{@root.AppointmentInformation.PatientData.LegalRepresentative.pyFullName}}
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <span>
                Relationship: 
              </span>
              <span class="text-bold">
                {{@root.AppointmentDetails.RelationshipToPatient}}
              </span>
            </td>
            <td colspan="3">
              <span>
                Telephone:
              </span>
              <span class="text-bold">
                {{@root.AppointmentDetails.RelationshipToPatient}}                
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="6">
              <span>
                Address:
              </span>
              <span class="text-bold">
                {{@root.AppointmentInformation.PatientData.LegalRepresentative.pyHomeAddress1}} {{@root.AppointmentInformation.PatientData.LegalRepresentative.pyHomeAddress2}} 
              </span>
            </td>
          </tr>
          <tr>
            {{!-- <td>
              <span>
                Unit:
              </span>
              <span class="text-bold">
                {{@root.AppointmentInformation.PatientData.LegalRepresentative.pyFullName}}
                Not present in data
              </span>
            </td>
            <td colspan="2">
              <span>
                Street:
              </span>
              <span class="text-bold">
                {{@root.AppointmentInformation.PatientData.LegalRepresentative.pyFullName}}
                Not present in data
              </span>
            </td> --}}
            <td colspan="2">
               <span>
                 City:
              </span>
              <span class="text-bold">
                {{@root.AppointmentInformation.PatientData.LegalRepresentative.pyCity}}
              </span>
            </td>
            <td colspan="2">
              <span>
                State:
              </span>
              <span class="text-bold">
                {{@root.AppointmentInformation.PatientData.LegalRepresentative.pyState}}
              </span>
            </td>
            <td colspan="2">
              <span>
                Zip:
              </span>
              <span class="text-bold">
                {{@root.AppointmentInformation.PatientData.LegalRepresentative.pyPostalCode}}
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="4">Signature of Legal Rep:</td>
            <td colspan="2">Date:<strong></strong></td>
          </tr>
          <tr>
            <td colspan="3">
              <span>
                Name of Witness:
              </span>
               <span class="text-bold">
                 {{@root.AppointmentDetails.NameOfWitness}}
                {{!-- Not present in data --}}
              </span>
            </td>
            <td colspan="2">
              <div class="frow row-start">
                SIGNATURE:
                <span class="px-10">{{> signature name="witness"}}</span>
              </div>              
            </td>
            <td colspan="1">
              <span>
                Date: 
              </span>
              <span class="text-bold">
                 {{formatDate @root.AppointmentDetails.WitnessSignatureDate}}
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="6">
              <span>
                Reason patient is unable to sign:
              </span>
              <span class="text-bold">
                 {{@root.AppointmentInformation.PatientData.Witness.LegalRepresentative.SpecificDetails}}
              </span>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>