{{#with ChecklistForTobacco}}
<section class="frow" id="checklist-for-tobacco">
    <div class="container-padding width-100">
        <div class="content">
            <div class="container centered mb-20">
                <h2 class="text-center m-auto">
                    ENCOUNTER CHECKLIST FOR TOBACCO
                </h2>
            </div>
            <table class="width-100">
                <col width="30%" />
                <col width="30%" />
                <col width="20%" />
                <col width="20%" />

                <tbody>
                    <tr>
                        <td colspan="2">
                            <div class="frow justify-start text-bold">
                                PLEASE ADVISE the patient/smoker to stop:
                            </div>
                            <div class="frow justify-start">
                                As your healthcare provider, I strongly advise you to quit
                                smoking. It's the single most important thing you can do
                                to protect your health, and I can help.
                            </div>
                            <div class="frow justify-start text-bold mt-10 mb-10">
                                ASSESS readiness to quit:
                            </div>
                            <div class="frow justify-start">
                                <div class="col-1-2">
                                    <div class="cb gutters">                                                                                
                                        {{> checkbox IsChecked=(isTrue IsPatientReadyToQuit) name="" }}Patient is ready to quit                                                                            
                                    </div>
                                </div>
                                <div class="col-1-2">
                                    <span>Target quit date:</span>
                                    <span class="p-5 text-underline">{{formatDate TargetQuitDate}}</span>
                                </div>
                            </div>                           
                            <div class="frow justify-start">
                                <div class="col-1-2">
                                    <div class="cb gutters">
                                        {{!-- <span>Patient is thinking about quitting: </span> --}}
                                        {{!-- {{> checkbox name="Yes" IsChecked=(checker IsPatientReadyToQuit "Yes")}} --}}
                                        {{> checkbox IsChecked=(isTrue IsPatientThinkingAboutQuitting) name=""}}Patient is thinking about quitting
                                    </div>
                                </div>
                            {{!-- </div> --}}
                            {{!-- <div class="frow justify-start">                                     --}}
                                <div class="col-1-2">
                                    <div class="cb gutters">                                    
                                        {{> checkbox IsChecked=(isTrue Is5RsCounselingRequired) name=""}}Brief counseling using 5 R's
                                    </div>
                                </div>
                            </div>
                            {{!-- </div> --}}
                        </td>
                        <td colspan="2">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>Name:</span>
                                            <span class="p-5 text-bold">
                                               {{@root.AppointmentInformation.PatientData.pyFullName}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>DOB:</span>
                                            <span class="p-5 text-bold">
                                                {{formatDate @root.AppointmentInformation.PatientData.DateOfBirth}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>Encounter Dates:</span>
                                            <span class="p-5 text-bold">{{formatDate @root.AppointmentInformation.EncounterDate}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="frow justify-start gutters">
                                                <span>Visit #</span>
                                                <div class="cb">
                                                     {{> checkbox IsChecked=(equalityChecker @root.AppointmentInformation.VisitCount "1") name="1" }}
                                                </div>
                                                <div class="cb">
                                                     {{> checkbox IsChecked=(equalityChecker @root.AppointmentInformation.VisitCount "2") name="2" }}
                                                </div>
                                                <div class="cb">
                                                     {{> checkbox IsChecked=(equalityChecker @root.AppointmentInformation.VisitCount "3") name="3" }}
                                                </div>
                                                <div class="cb">
                                                     {{> checkbox IsChecked=(equalityChecker @root.AppointmentInformation.VisitCount "4") name="4" }}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table>
                <col width="50%">
                <col width="50%">
                <tr>
                    <td colspan="2">
                        <span>Relevant Reasons:</span>
                        <span class="p-5 text-bold">{{RelevantReasons}}</span>
                        
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Risks:</span>
                        <span class="p-5 text-bold">{{Risks}}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Rewards:</span>
                        <span class="p-5 text-bold">{{Rewards}}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Quit smoking &lt;</span>
                        <span class="p-5 text-bold">{{QuitSmokingYears}}</span>
                        <span>years ago</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="frow justify-start">
                            <div class="col-1-4">
                                <div class="cb">                                                        
                                    {{> checkbox IsChecked=(isTrue IsPatientNotReadyToQuit) name=""}}Patient is not ready to quit
                                </div>
                            </div>
                            <div class="col-1-4">
                                <div class="cb">
                                    {{> checkbox IsChecked=(isTrue RepetitionRelapse) name=""}}Repetition relapse
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>





            <table>
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <tr>
                    <td colspan="5"><strong>ASSIST smoker to quit</strong></td>
                </tr>
                <tr>
                    <td>Smoking history:</td>
                    <td>
                        <span class="text-bold">{{CigarettesPerDay}}</span>
                        <span># of Cigarettes/Day</span>
                    </td>
                    <td>
                        <span class="text-bold">{{CigarettesPacksPerDay}}</span>
                        <span># of Packs/Day</span>
                    </td>
                    <td>
                        <span class="text-bold">{{SmokedForYears}}</span>
                        <span># of Years</span>
                    </td>
                    <td>
                        <span class="text-bold">{{NumberOfQuitAttempts}}</span>
                        <span># of Quit Attempts</span>
                    </td>
                </tr>
                <tr>
                    <td>Household members:</td>
                    <td>
                        <span class="text-bold">{{NumberOfSmokersInFamily}}</span>
                        <span># of Smokers</span>
                    </td>
                    <td>
                        <span class="text-bold">{{NumberOfNonSmokersInFamily}}</span>
                        <span># of Non-smokers</span>
                    </td>
                    <td colspan="2">
                        <span class="text-bold">{{NumberOfChildren}}</span>
                        <span># of Children</span>
                    </td>
                </tr>                
            </table>


            <table>
                {{!-- <col width="14.28%">
                <col width="14.28%">
                <col width="14.28%">
                <col width="14.28%">
                <col width="14.28%">
                <col width="14.28%">
                <col width="14.28%"> --}}
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <col width="25%">
                
                <tr>
                    <td colspan="4"><strong>SYMPTOMS</strong></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="frow cb justify-start">
                            {{#each @root.SelectedSmokingSymptoms}}
                            <div class="col-1-4 cb">
                                {{> checkbox name=Symptoms IsChecked=IsChecked}}
                            </div>
                            {{/each}}                               
                            <div class="col-1-4 cb">
                                {{> checkbox IsChecked=OtherSymptomsBool name='Others: '}}
                                <span class="pl-5 text-bold">{{{OtherSymptomsTextbox}}}</span>
                            </div>
                        </div>                    
                </tr>
                {{!-- <tr>
                    <td>{{> checkbox name="Abnormal Sputum" IsChecked=AbnormalSputum}}</td>
                    <td>{{> checkbox name="Dyspnea" IsChecked=Dyspnea}}</td>
                    <td>{{> checkbox name="Cough" IsChecked=Cough}}</td>
                    <td>{{> checkbox name="Diminished Air Movement" IsChecked=DiminishedAirMovement}}</td>
                    <td>{{> checkbox name="Hemoptysis" IsChecked=Hemoptysis}}</td>
                    <td>{{> checkbox name="Wheeze" IsChecked=Wheeze}}</td>
                    <td>{{> checkbox name="Asthma" IsChecked=Asthma}}</td>                    
                </tr> --}}
                <tr>
                    <td colspan="4">
                        <div class="cb gutters">
                            Withdrawal Symptoms:
                            <span class="p-10">
                                {{> checkbox name="Nausea" IsChecked=Nausea}}
                            </span>
                            <span class="p-10">
                                {{> checkbox name="Vomiting" IsChecked=Vomiting}}
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="cb gutters">
                            Mood:
                            <span class="p-10">
                                {{> checkbox name="Anxiety" IsChecked=Anxiety}}
                            </span>
                            <span class="p-10">
                                {{> checkbox name="Depression" IsChecked=Depression}}
                            </span>
                        </div>
                    </td>
                </tr>
            </table>

            <table>
                <col width="20%">
                <col width="12%">
                <col width="12%">
                <col width="12%">
                <col width="12%">
                <col width="12%">
                <col width="20%">
                
                <tr>
                    <td colspan="7"><strong>MEDICATIONS</strong></td>
                </tr>
                <tr>
                    
                    <td>Nicotine replacement therapy:</td>
                    {{#each @root.SelectedNicotineReplacement}}
                    <td>
                        <div class="col-1-7 cb">
                            {{> checkbox name=NicotineRepTrp IsChecked=IsChecked}}
                        </div>
                    {{/each}}
                    </td>
                    <td>
                        <div class="col-1-7 cb">
                            {{> checkbox IsChecked=OtherNRPBool name='Others: '}}
                            <span class="pl-5 text-bold">{{{OtherNRPTextbox}}}</span>                            
                        </div>
                    </td>
                    {{!-- <td>{{> checkbox name="Nasal Spray" IsChecked=NasalSpray}}</td>
                    <td>{{> checkbox name="Lozenge" IsChecked=Lozenge}}</td>
                    <td>{{> checkbox name="Inhaler" IsChecked=Inhaler}}</td>
                    <td>{{> checkbox name="Patch" IsChecked=Patch}}</td>
                    <td>{{> checkbox name="Gum" IsChecked=Gum}}</td>                     --}}
                </tr>
                <tr>
                    <td colspan="7">
                        <div class="cb gutters">
                            Bupropion SR: <span class="ml-5">{{> checkbox IsChecked=(isTrue BupropionSRTablets) name="Tablets" }}</span>
                            (Start 7 to 10 days before the target quit date.)
                            {{!-- <span class="p-5">
                            {{> checkbox name="Yes" IsChecked=(checker BupropionSRTablets "Yes")}}
                            </span>
                            <span class="p-5">
                            {{> checkbox name="No" IsChecked=(checker BupropionSRTablets "No")}}
                            </span> --}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <strong>ARRANGE Follow-up</strong>
                        <div class="frow justify-start">
                            <div class="cb gutters">
                                {{!-- "I'll check back with you by 
                                <span class="p-5 cb text-bold">{{formatDate QuitSmokingCheckBackDate}}." </span>
                                <span class="cb">
                                (Set within the first week after the target quitdate)
                                </span>
                                <span class="p-5"> --}}
                                {{> checkbox IsChecked=(isTrue QuitSmokingCheckBack) name=""}}I'll check back with you by
                                <span class="ml-5 text-underline"> {{formatDate QuitSmokingCheckBackDate}}.</span>
                                <span class="ml-5">(Set within the first week after the target quitdate)</span>
                            </div>
                        </div>
                        <div class="frow justify-start">
                            <div class="cb gutters">
                                {{> checkbox IsChecked=(isTrue QuitSmokingMaterials) name=""}}"I'd like to give you some materials."
                                {{!-- <span class="ml-10 text-bold">{{{QuitSmokingMaterialsDescription}}}</span>                                 --}}
                                {{!-- <span class="p-5">
                                {{> checkbox name="Yes" IsChecked=(checker QuitSmokingMaterials "Yes")}}
                                </span>
                                <span class="p-5">
                                {{> checkbox name="No" IsChecked=(checker QuitSmokingMaterials "No")}}
                                </span> --}}
                            </div>
                        </div>
                        <div class="frow justify-start ml-30 text-bold margin-remover text-underline">
                            {{{QuitSmokingMaterialsDescription}}}
                        </div>
                    </td>
                </tr>                
            </table>

            <div class="frow justify-start mt-100">
                <div class="col-1-3 frow items-end text-center text-bold">                                        
                    <div>
                        {{@root.AppointmentInformation.SelectProvider}}
                        <div class="bt mt-10 pt-10">Name of Provider</div>
                    </div>                    
                </div>              
                <div class="col-1-3 frow items-end text-center text-bold">
                    <div class="text-center text-bold">
                        {{> signature name="provider"}}
                        <div class="bt mt-10 pt-10">Provider Signature</div>
                    </div>
                </div>
                <div class="col-1-3 frow items-end text-center text-bold">
                    <div class="text-center text-bold">
                        {{formatDate @root.AppointmentInformation.SignatureDate}}
                        <div class="bt mt-10 pt-10">Signature Date</div>
                    </div>
                </div>                
            </div>


            {{!-- <div class="frow justify-start">
                <div class="frow row-start text-bold">Signature:
                    <span class="px-10">{{> signature name="provider"}}</span>
                </div>                
            </div> --}}
            {{!-- <div class="frow justify-start text-bold mt-50">
                <div class="col-1-1">
                    <span>Signature</span>
                    <span class="p-5 text-underline">
                        {{> signature name="provider"}}
                    </span>
                </div>
            </div> --}}
            {{!-- <div class="fro justify-start text-bold">
                <span>Printed Name</span>
                <span class="p-5 text-underline">{{@root.AppointmentInformation.SelectProvider}}</span>
            </div>
            <div class="fro justify-start text-bold">
                <span>Date</span>
                <span class="p-5 text-underline">{{formatDate @root.AppointmentInformation.SignatureDate}}</span>
            </div> --}}
        </div>
    </div>
</section>
{{/with}}