<div class="signatures mt-10">
      <div class="frow justify-start mt-10">
        <div class="col-1-2 frow row-start">          
          Signature:
          {{#if @root.AppointmentInformation.PhysicianSignatureDate}}
          <span class="name text-underline px-30">{{> signature name="physician"}}</span>
          {{/if}}
        </div>
        <div class="col-1-2 frow row-start">
          Signature:
          <span class="name text-underline px-30">{{> signature name="provider"}}</span>          
        </div>
      </div>
      <div class="cb">
        <div class="col-1-2">
          Under the supervision of <br>
          and in collaboration with:          
          {{!-- <span class="name px-5">: <b>{{@root.SelectMD}}</b></span> --}}
          <span class="name px-5"><b>{{@root.AppointmentInformation.OperatorDataMD.pyUserName}}</b></span>
        </div>
        <div class="col-1-2">
          <br>Provider Name:
          {{!-- <span class="name text-bold px-5">{{@root.AppointmentInformation.SelectProvider}}</span> --}}
          <span class="name text-bold px-5">{{@root.AppointmentInformation.OperatorData.pyUserName}}</span>
        </div>
      </div>      
      <div class="frow justify-start">
        <div class="col-1-2">
          Date:
          <span class="name px-5 text-bold">{{formatDate @root.AppointmentInformation.PhysicianSignatureDate}}</span>
        </div>
        <div class="col-1-2">
          Date:
          <span class="name px-5 text-bold">{{formatDate @root.AppointmentInformation.SignatureDate}}</span>
        </div>      
      </div>
    </div>