  
  {{#with FaceToFace}}

  <section class="frow" id="face-to-face">
        <div class="container-padding width-100">
          <div class="content">
            <div class="container centered mb-20">
               {{>formTitle ..}}
            </div>
            <div class="frow">
              <div class="frow col-1-2 justify-start gutters">
                <strong>Home Health:</strong>
                <span> {{@root.AppointmentInformation.ReferralHH}}</span>
              </div>
              <div class="frow col-1-2 justify-start gutters">
                <strong>Date of Service</strong>
                <span> Date here...</span>
              </div>
            </div>

            <div>
              <p>
                I certify that this patient is under my care and that I, or an
                allowed Nurse practitioner or Physician’s assistant working in
                collaboration with me, had a face-to-face encounter that meets
                physician face-to-face-encounter requirements with this patient
                on:
              </p>
            </div>

            <div class="frow">
              <div class="frow col-1-3 justify-start gutters">
                <strong>Month</strong>
                <span> Month here...</span>
              </div>
              <div class="frow col-1-3 justify-start gutters">
                <strong>Day</strong>
                <span> Day here...</span>
              </div>
              <div class="frow col-1-3 justify-start gutters">
                <strong>Year</strong>
                <span> Year here...</span>
              </div>
            </div>

            <div class="mt-20">
              <strong>
                Clinical Summary of Findings from Face-to-Face Encounter in
                Support of Home Health Need:
              </strong>
              <br />
              <span>
                (Require up to 90 days prior to initial SOC, is relevant to the
                reason for the patient’s need for home health services, or
                within 30 days after the start of care if the 90-day prior
                encounterdid not take place.)
              </span>
            </div>

            <div class="mt-20">
              <strong>
                Medical Condition Related to Home Health Services:
              </strong>
              <br />
              <span>
                The encounter with the patient was in whole, or in part, for the
                following medical condition, which is the primary reason for
                home health care because
              </span>
            </div>
           <table class="striped width-100 no-padding mt-10">
            <col width="25%" />
            <col width="25%" />
            <col width="25%" />
            <col width="25%" />
            <tbody>
              {{#splitArrayByNumber ../SelectedMedicalConditionsOnFaceToFace 4}}
              <tr>
                 {{#each chunk}}
                 <td  style="width: 25%;">
                    <div class="cb">
                      {{> checkbox name=HHSMedicalCondition IsChecked=IsChecked}}
                    </div>
                  </td>
                {{/each}}
              </tr>
              {{/splitArrayByNumber}}
              </tbody>
            </table>
            <div class="mt-20">
              <p>
                I further certify that, based on my findings, this patient is
                homebound (i.e. absences from home require considerable and
                taxing effort, and for medical reasons or religious services, or
                infrequently, or of short duration when for other reasons) due
                to the following services that are medical necessary from home
                health (Check allthat apply):
              </p>
            </div>

           <table class="striped width-100 no-padding mt-10">
            <col width="25%" />
            <col width="25%" />
            <col width="25%" />
            <col width="25%" />
            <tbody>
                {{#splitArrayByNumber ../SelectedHomeBound 4}}
                <tr>
                  {{#each chunk}}
                   <td  style="width: 25%;">
                      <div class="cb">
                        {{> checkbox name=ReasonsForHomeBound IsChecked=IsChecked}}
                      </div>
                    </td>
                  {{/each}}
                </tr>
                {{/splitArrayByNumber}}
            </tbody>
          </table>
            <div class="mt-20">
              <strong class="text-underline">
                Certificate of Homebound Status:
              </strong>
              <br />
              <span>
                My clinical findings from this encounter support the patient is
                homebound due to:
              </span>
            </div>

            <table class="striped width-100 no-padding mt-10">
              <col width="25%" />
              <col width="25%" />
              <col width="25%" />
              <col width="25%" />
              <tbody>
                {{#splitArrayByNumber ../SelectedHomeBoundStatusOnFaceToFace 4}}
                <tr>
                  {{#each chunk}}
                   <td  style="width: 25%;">
                    <div class="cb">
                      {{> checkbox name=HomeboundDueTo IsChecked=IsChecked}}
                    </div>
                  </td>
                  {{/each}}
                </tr>
                {{/splitArrayByNumber}}
              </tbody>
            </table>

            <div class="signatures mt-60 mb-10">
              <div class="frow provider justify-start mb-60">
                <div class="frow title col-6-12 justify-start">
                  <div class="col-4-12">
                    <span> Provider Name: </span>
                  </div>
                  <div class="col-8-12">
                    <span class="name text-underline px-30">{{@root.AppointmentInformation.SelectProvider}}</span>
                  </div>
                </div>
                <div class="signature col-6-12 bb">
                  Signature:
                  {{> signature name="provider"}}
                </div>
                <div class="frow date col-6-12 justify-start">
                  <div class="col-4-12">
                    <span> Date: </span>
                  </div>
                  <div class="col-8-12">
                     <span class="name text-underline px-30">{{@root.AppointmentInformation.SignatureDate}}</span>
                  </div>
                </div>
              </div>
              <div class="frow medical-provider justify-start">
                <div class="frow title col-6-12">
                  <div class="col-4-12">
                    <span> Physician Name: </span>
                  </div>
                  <div class="col-8-12">
                   <span class="name text-underline px-30">{{@root.SelectMD}}</span>
                  </div>
                </div>
                <div class="signature col-6-12 bb">
                  Signature:
                   {{> signature name="physician"}}
                </div>
                <div class="frow date col-6-12">
                  <div class="col-4-12">
                    <span> Date: </span>
                  </div>
                  <div class="col-8-12">
                   <span class="name text-underline px-30">{{@root.AppointmentInformation.PhysicianSignatureDate}}</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
  </section>
{{/with}}