
{{#fallRiskMapper @root.SelectedFallRisk}}
<section class="frow" id="fall-risk-list">
    <div class="container-padding width-100">
        <div class="content">
            <div class="container centered mb-20">
                <h2 class="text-center m-auto">Fall Risk Check-List</h2>
            </div>
            <div class="frow justify-start text-bold">
                <div class="col-1-4"></div>
                <div class="col-1-4">
                    <span>Circle “Yes” or “No” for each statement below</span>
                </div>
                <div class="col-1-4"></div>
                <div class="col-1-4">
                    <span>Why it matters</span>
                </div>
            </div>
            <table class="width-100">
                <col width="16.666%" />
                <col width="16.666%" />
                <col width="16.666%" />
                <col width="16.666%" />
                <col width="16.666%" />
                <col width="16.666%" />
                <tbody>
                   
                    {{#each data}}
                    <tr>
                        <td>
                            {{> checkbox name=text IsChecked=IsYes}}
                        </td>
                        <td>
                            {{> checkbox name="No (0)" IsChecked=IsNo}}
                        </td>
                        <td colspan="2">
                            {{FallRiskOption}}
                        </td>
                        <td colspan="2">
                            {{WhyItMatters}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="frow text-center">
                <div class="mt-20">
                    <span>Total</span>
                    <span class="p-5 text-underline text-bold">
                        {{count}}
                    </span>
                    <span>
                        Add up the number of points for each “yes” answer. If you
                        scored 4 points or more, you may be at risk for falling.
                    </span>
                    <span><br />Discuss this check list with your doctor. </span>
                </div>
            </div>
            <div class="frow text-center mt-20 ml-50">
                <span>
                    This checklist was developed by the Greater Los Angeles VA
                    Geriatric Research Education Clinical Center and affiliates and
                    is a validated fall risk self-assessment too (Rubenstein at al.
                    J Safety Res; 2011:42(6)493-499). Adapted with permission of the
                    authors.
                </span>
            </div>
            {{!-- <div class="frow justify-start text-bold mt-50">
                <div class="col-1-1">
                    <span>Signature</span>
                    <span class="p-5 text-underline">
                        {{> signature name="provider"}}
                    </span>
                </div>
            </div>
            <div class="fro justify-start text-bold">
                <span>Name of Provider</span>
                <span class="p-5 text-underline">{{@root.AppointmentInformation.SelectProvider}}</span>
            </div>
            <div class="fro justify-start text-bold">
                <span>Date:</span>
                <span class="p-5 text-underline">{{formatDate @root.AppointmentInformation.SignatureDate}}</span>
            </div> --}}
            <div class="frow justify-start mt-100">
                <div class="col-1-3 frow items-end text-center text-bold">
                    <div>
                        {{@root.AppointmentInformation.OperatorData.pyUserName}}
                        <div class="bt mt-10 pt-10">Name of Provider</div>
                    </div>
                </div>
                <div class="col-1-3 frow items-end text-center text-bold">
                    <div class="text-center text-bold">
                        {{> signature name="provider"}}
                        <div class="bt mt-10 pt-10">Provider Signature</div>
                    </div>
                </div>
                <div class="col-1-3 frow items-end text-center text-bold">
                    <div class="text-center text-bold">
                        {{formatDate @root.AppointmentInformation.SignatureDate}}
                        <div class="bt mt-10 pt-10">Signature Date</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/fallRiskMapper}}