<section class="frow" id="impression-plan">
  <div class="container-padding width-100">
    <div class="container mb-20">
      {{> formTitle }}
    </div>
    <div class="mb-10">
        {{stringToHTML @root 'The patient, <strong>{{@root.PatientDataEmbed.PatientFullName}} is {{calculateAge @root.PatientDataEmbed.DateOfBirth}} year old {{ @root.MedicalRecord.Sex}}</strong>, has had the following medical conditions in the past:'}}
      {{stringToHTML @root '<strong>{{#each (getMedicalConditionsFromF2F @root)}}
          <span class="pr-5">{{Name}},</span>
      {{/each}}
      </strong>'}}
    </div>
    
    <div class="frow justify-start mb-10">
      {{!-- {{#if 
        (isTrue InitialAssessmentForm.PatientIsFullyContinent)}}<strong class="mr-5">Patient is fully continent.</strong>
      {{else}} 
        (isTrue InitialAssessmentForm.PatientHasIncontinenceBool) Patient has incontinence:<strong class="ml-5 mr-5">{{InitialAssessmentForm.PatientHasIncontinence}}.</strong>
      {{/if}}
      {{#if 
        (isTrue InitialAssessmentForm.PatientIsIndependentInAllADLs)}} <strong class="mr-5">Patient is independent in all ADLs.</strong>
      {{else}} 
        (isTrue InitialAssessmentForm.PatientNeedsHelpWithADLs) Patient needs help with:
        {{#if (getCheckedItems SelectedBasicADLs "BasicADLs")}}
          <strong class="ml-5">Basic ADLs: {{getCheckedItems SelectedBasicADLs "BasicADLs"}}.</strong>
        {{/if}}
        {{#if (getCheckedItems SelectedInstrumentalADLs "InstrumentalADLs")}}
          <strong class="ml-5">Instrmental ADLs: {{getCheckedItems SelectedInstrumentalADLs "InstrumentalADLs"}}</strong>
        {{/if}}
      {{/if}} --}}
      {{#if (isTrue InitialAssessmentForm.PatientIsFullyContinent)}}
        {{stringToHTML @root '<strong class="mr-5">Patient is fully continent.</strong>'}}
      {{else}}
        {{#if (isTrue InitialAssessmentForm.PatientHasIncontinenceBool)}}
          {{stringToHTML @root 'Patient has incontinence: <strong class="ml-5 mr-5">{{InitialAssessmentForm.PatientHasIncontinence}}.</strong>'}}
        {{/if}}
      {{/if}}

      {{#if (isTrue InitialAssessmentForm.PatientIsIndependentInAllADLs)}}
        <strong class="mr-5">Patient is independent in all ADLs.</strong>
      {{else}}
        {{#if (isTrue InitialAssessmentForm.PatientNeedsHelpWithADLs)}}
          Patient needs help with:
          {{#if (getCheckedItems SelectedBasicADLs "BasicADLs")}}
            <strong class="ml-5">Basic ADLs: {{getCheckedItems SelectedBasicADLs "BasicADLs"}}.</strong>
          {{/if}}
          {{#if (getCheckedItems SelectedInstrumentalADLs "InstrumentalADLs")}}
            <strong class="ml-5">Instrumental ADLs: {{getCheckedItems SelectedInstrumentalADLs "InstrumentalADLs"}}.</strong>
          {{/if}}
          {{#unless (getCheckedItems SelectedBasicADLs "BasicADLs")}}
            {{#unless (getCheckedItems SelectedInstrumentalADLs "InstrumentalADLs")}}
              <span class="ml-5">None</span>
            {{/unless}}
          {{/unless}}
        {{/if}}
      {{/if}}
    </div>
    
    <div class="col-1-1 bb stripes">
      <div class="frow justify-start">
        {{!-- 
        <div class="frow justify-start pt-10 pb-10">
          <h3>Medical Conditions</h3>
        </div>
         --}}
        <div class="title">
          <h3 class="bg-shaded mt-10 mb-10">Medical Conditions</h3>          
        </div>
      </div>
      



      
      {{!-- <div>
        <div class="margin-remover pt-5">        
          {{{CustomizeMedicalConditionsOnFACETOFACE}}}        
        </div>
      </div>
      <div>
        <div class="frow justify-start mt-10">
          <h3 class="mt-10 mb-10">Notes</h3>
        </div>
      </div>
      <div>
        <div class="margin-remover mt-5 mb-10">{{{Notes}}}</div>
      </div> --}}




      <div class="frow justify-start">
        &nbsp{{#each MedicalRecord.MedicalConditions}}
        <div>
          <div class="text-bold pt-5">{{Name}}</div>
          <div class="mb-10">{{Value}}</div>        
        </div>      
        {{/each}}
      </div>
      {{#if (isTrue FaceToFace.OtherMedicalConditionsOnFaceToFaceCheckbox)}}
      <div class="frow justify-start text-bold p-5 px-10 mb-10">        
        Other Medical Conditions        
      </div>      
      <div class="frow justify-start margin-remover mt-5 mb-10">        
        {{{FaceToFace.OtherMedicalConditionsOnFaceToFaceTextbox}}}        
      </div>
      {{/if}}
      <div class="frow justify-start text-bold p-5 px-10 mb-10">                          
        Notes        
      </div>      
      <div class="frow justify-start margin-remover mt-5 mb-20">        
        {{{Notes}}}        
      </div>
      {{#if PreviousCaseData.CompleteMedicalNotes}}
      <div class="frow justify-start text-bold p-5 px-10 mb-10">        
        {{stringToHTML @root 'Previous Notes from Case-{{pyID}} (Date of Service: {{formatDate PreviousCaseData.AppointmentInformation.DateOfService}}, NP Name: {{PreviousCaseData.NPName}})'}}        
      </div>      
      <div class="frow justify-start margin-remover mt-5 mb-20">        
        {{{PreviousCaseData.CompleteMedicalNotes}}}
      </div>
      {{/if}}
    </div>
    
       {{!-- {{#filterArr SelectedMedicalConditionsOnFaceToFace 'true' }}
        <div class="frow impression">
          <div class="col-2-12 title">
            <p><strong>{{HHSMedicalCondition}}</strong></p>
          </div>
          <div class="col-10-12 description">
            <p>
            {{{Definition}}}
          </div>
        </div>
      {{/filterArr}} --}}
      
      

      {{!-- {{{CustomizeMedicalConditionsOnFACETOFACE}}} --}}
      {{!-- {{#if SelectedMedicalConditionsOnFaceToFace}}
        {{#with SelectedMedicalConditionsOnFaceToFace as |conditions|}}
          {{#filterArr conditions 'true'}}
            <div class="frow impression">
              <div class="col-2-12 title">
                <p><strong>{{HHSMedicalCondition}}</strong></p>
              </div>
              <div class="col-10-12 description">
                <p>
                {{{Definition}}}
              </div>
            </div>
          {{/filterArr}}
        {{/with}}
      {{else if SelectedMedicalConditionsOnTelemedicine}}
        {{#with SelectedMedicalConditionsOnTelemedicine as |conditions|}}
          {{#filterArr conditions 'true'}}
            <div class="frow impression">
              <div class="col-2-12 title">
                <p><strong>{{HHSMedicalCondition}}</strong></p>
              </div>
              <div class="col-10-12 description">
                <p>
                {{{Definition}}}
              </div>
            </div>
          {{/filterArr}}
        {{/with}}
      {{/if}}
      {{#if (isTrue @root.FaceToFace.OtherMedicalConditionsOnFaceToFaceCheckbox)}}
        <div class="frow impression">
          <div class="col-2-12 title">
            <p>
              <strong>
                Other
              </strong>
            </p>
          </div>
          <div class="col-10-12 description">
            <p>
            {{{@root.FaceToFace.OtherMedicalConditionsOnFaceToFaceTextbox}}}
          </div>
        </div>
      {{/if}}
       --}}
    
    <div>
     {{stringToHTML @root ' <p>
        <span>Advanced Care Planning: Advanced care planning with patient, time
          spent
          <strong>{{@root.AppointmentDetails.VisitLength}}.</strong>
          Reviewed care plan options such as code status, intubation
          and hospitalization. Reviewed risks of cardiac resuscitation including
          rib fracture. Reviewed prolong life expectancy and benefit to
          aggressive care and treatment.</span>
      </p>'}}
      <h3>Orders: AS ATTACHED</h3>
      <h4>Discussion Notes:</h4>
      <p>
       {{stringToHTML @root '<span>Current condition, medication regimen, plan of care as above discussed.
            Continue current medications and plan of care.
            Frail elderly, on medications requiring regular monitoring. Follow labs closely.
            Medications prescribed using electronic prescribing system.
            I verify that a total of <strong>{{@root.AppointmentDetails.VisitLength}}</strong> was spent on this encounter by the Nurse Practitioner directly.
            Follow-up visit mentioned in plan.
        </span>'}}
      </p>
    </div>
  </div>   
</section>