{{#with InitialAssessmentForm}}
<section class="frow" id="initial-assesment">
  <div class="container-padding width-100">
    <div class="container centered mb-20">
      {{> formTitle ..}}
    </div>
    <table class="striped width-100 no-y-padding">
      <col width="16.666%" />
      <col width="16.666%" />
      <col width="16.666%" />
      <col width="16.666%" />
      <col width="16.666%" />
      <col width="16.666%" />

      <tbody>
        <tr>
          <td colspan="1">
            <div class="cb">
                {{> checkbox IsChecked=InitialVisit name="Initial Visit" }}
            </div>
          </td>

          <td colspan="1">
            <div class="frow" style="display: flex; flex-direction: row; width: 100%; align-items: flex-start; justify-content: flex-start;">
              <div class="cb ">
                 {{> checkbox IsChecked=FollowUpVisit name="Follow Up Visit" }}
              </div>
              <span class="px-5">/</span>
              <div class="cb ">
                {{> checkbox IsChecked=RecertVisit name="Recert Visit" }}
              </div>
              </div>
            </div>
          </td>

          <td colspan="1">
            <div class="cb" style="align-items: center;">
              <span>Sex :</span>
              <div style="margin-left: 10px; display:flex; flex-direction:row; margin-top:10px">
                <div class="cb">
                  {{> checkbox IsChecked=(radioButtonChecker Sex "M") name="M" }}
                </div>
                <span class="px-5">/</span>
                  <div class="cb">
                  {{> checkbox IsChecked=(radioButtonChecker Sex "F") name="F" }}
                  </div>
                </div>
            </div>
          </td>

          <td colspan="3">
            <div style="display: flex; gap:15px;">
              <span>Location patient is accessed:</span>
              {{> checkbox IsChecked=Homevisit name="Home Visit" }}
               {{> checkbox IsChecked=CracklesLoc name="Boarding Care" }}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4>Chief Complaint</h4>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto text-uppercase">Allergies</h4>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <strong>Drug / Food</strong>
          </td>
          <td colspan="3">
            <strong>Reaction</strong>
          </td>
        </tr>
        <!-- Repeat this row -->
        {{#each DrugFood}}
        <tr class="text-bold">
          <td colspan="3">
            <span>{{DrugFood}}</span>
          </td>
          <td colspan="3">
            <span>{{Reaction}}</span>
          </td>
        </tr>
        {{/each}}
        <tr>
          <td colspan="2">
            <div class="cb">
               {{> checkbox IsChecked=Penicillin name="Penicillin" }}
            </div>
          </td>
          <td colspan="2">
            <div class="cb">
               {{> checkbox IsChecked=Sulfa name="Sulfa" }}
            </div>
          </td>
          <td colspan="2">
            <div class="cb">
               {{> checkbox IsChecked=NOKNOWNALLERGIES name="NO KNOWN ALLERGIES" }}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <h4 class="fc m-auto">Functional Limitations</h4>
          </td>
          <td colspan="3">
            <h4 class="fc m-auto">Activities Permited</h4>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="frow cbs justify-start">
              {{#each @root.SelectedFunctionalLimitations}}
              <div class="col-1-3 cb">
                 {{> checkbox IsChecked=IsChecked name=PatientFunctionalLimitation }}
              </div>
              {{/each}}
            </div>
          </td>
          <td colspan="3">
            <div class="frow cbs justify-start">
              <!-- Repeat Below for all list of activities permited -->
              {{#each @root.SelectedActivitiesPermitted}}
              <div class="cb col-1-3">
                  {{> checkbox IsChecked=IsChecked name=ActivitiesPermited }}
              </div>
              {{/each}}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto">PAST MEDICAL HISTORY</h4>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <div class="frow cbs justify-start">
              <!-- Repeat Below for all Surgical Histories -->
              {{#each @root.SelectedPastMedicalHistory}}
                <div class="cb col-1-6">
                  {{> checkbox IsChecked=IsChecked name=PASTMEDICALHISTORY }}
                </div>
                {{#if @last}}
                  
                  <div class="cb col-5-6 py-5">
                    <div class="frow justify-start items-end no-mpa">
                      {{> checkbox IsChecked=../OtherPMHistory name='Others: ' }}
                      <span class="pl-5 text-bold">{{{../OtherPastMedicalHistory}}}</span>
                    </div>
                  </div>
                  
                {{/if}}
              {{/each}}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto">PAST SURGICAL HISTORY</h4>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <div class="frow cbs justify-start">
              <!-- Repeat Below for all Surgical Histories -->

              {{#each @root.SelectedPastSurgicalHistory}}
                <div class="cb col-1-6">
                  {{> checkbox IsChecked=IsChecked name=PastSurgicalHistory }}
                </div>
                {{#if @last}}
                  
                  <div class="cb col-5-6 py-5">
                    <div class="frow justify-start items-end no-mpa">
                      {{> checkbox IsChecked=../OtherPSHistory name='Others: ' }}
                      <span class="pl-5 text-bold">{{{../OtherPastSurgicalHistory}}}</span>
                    </div>
                  </div>
                  
                {{/if}}
              {{/each}}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto">Social History</h4>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <div class="frow justify-start">
              <div class="frow col-1-1 justify-start">
                <strong class="col-1-6">Tobacco / THC</strong>
                <div class="cb col-1-6">
                  {{> checkbox IsChecked=(checker PatientUseTobacco "Yes") name="Yes" }}
                </div>
                <div class="cb col-1-6">
                   {{> checkbox IsChecked=(checker PatientUseTobacco "No") name="No" }}
                </div>
                <div class="cb col-1-6">
                  {{#each TobaccoTHC}}
                   {{> checkbox IsChecked=(dailyUseChecker TobaccoTHC "Daily") name="Daily" }}
                   {{/each}}
                </div>
                <div class="cb col-1-6">
                   {{#each TobaccoTHC}}
                   {{> checkbox IsChecked=(dailyUseChecker TobaccoTHC "Socially") name="Socially" }}
                   {{/each}}
                </div>
                <div class="cb col-1-6">
                  {{#each TobaccoTHC}}
                   {{> checkbox IsChecked=(dailyUseChecker TobaccoTHC "Occasionally") name="Occasionally" }}
                   {{/each}}
                </div>
              </div>

              <div class="frow col-1-1 justify-start">
                <strong class="col-1-6">ETOH/Alcohol</strong>
                <div class="cb col-1-6">
                  {{> checkbox IsChecked=(checker PatientConsumeAlcohol "Yes") name="Yes" }}
                </div>
                <div class="cb col-1-6">
                  {{> checkbox IsChecked=(checker PatientConsumeAlcohol "No") name="No" }}
                </div>
                <div class="cb col-1-6">
                   {{#each ETOHAlcohol}}
                   {{> checkbox IsChecked=(dailyUseChecker ETOHAlcohol "Daily") name="Daily" }}
                   {{/each}}
                </div>
                <div class="cb col-1-6">
                  {{#each ETOHAlcohol}}
                   {{> checkbox IsChecked=(dailyUseChecker ETOHAlcohol "Socially") name="Socially" }}
                   {{/each}}
                </div>
                <div class="cb col-1-6">
                   {{#each ETOHAlcohol}}
                   {{> checkbox IsChecked=(dailyUseChecker ETOHAlcohol "Occasionally") name="Occasionally" }}
                   {{/each}}
                </div>
              </div>

              <div class="frow col-1-1 justify-start">
                <strong class="col-1-6">Drugs</strong>
                  {{#each @root.SelectedDrugsOnSocialHistory}}
                  <div class="cb col-1-6">
                    {{> checkbox name=Drugs IsChecked=IsChecked}}
                  </div>
                  {{/each}}
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto">
              REVIEW OF SYSTEM / PHYSICAL EXAMINATION
            </h4>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <table class="striped width-100 no-y-padding">
              <thead>
                <tr>
                  <th colspan="7">
                    <div class="fc m-auto">VITALS</div>
                  </th>
                </tr>
                <tr>
                  <th>HT</th>
                  <th>WT</th>
                  <th>TEMP</th>
                  <th>BP</th>
                  <th>HR</th>
                  <th>RR</th>
                  <th>02 SAT</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-bold">
                  <td>{{HT}}</td>
                  <td>{{WT}}</td>
                  <td>{{TEMP}}</td>
                  <td>{{BP}}</td>
                  <td>{{HR}}</td>
                  <td>{{RR}}</td>
                  <td>{{SAT}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <table class="striped width-100 no-y-padding">
              <col width="15%" />
              <col width="5%" />
              <col width="80%" />
              <thead>
                <tr>
                  <th>System</th>
                  <th>WNL</th>
                  <th>FINDINGS</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <strong>General</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosGeneral}}
                      <div class="cb col-1-4">
                        {{> checkbox IsChecked=IsChecked name=General }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Head</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosHead}}
                      <div class="cb col-1-4">
                         {{> checkbox IsChecked=IsChecked name=Head }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Neck, Axilla, Breasts</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosNeckAxilliaBreasts}}
                      <div class="cb col-1-4">
                        {{> checkbox IsChecked=IsChecked name=NeckAxillaBreasts }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Eyes</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosEyes}}
                      <div class="cb col-1-4">
                         {{> checkbox IsChecked=IsChecked name=Eyes }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Ears</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosEars}}
                      <div class="cb col-1-4">
                        {{> checkbox IsChecked=IsChecked name=Ears }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Nose</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                        {{#each @root.SelectedRosNose}}
                        <div class="cb col-1-4">
                          {{> checkbox IsChecked=IsChecked name=Nose }}
                        </div>
                        {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Mouth</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosMouth}}
                      <div class="cb col-1-4">
                         {{> checkbox IsChecked=IsChecked name=Mouth }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Cardiovascular</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosCardiovascular}}
                      <div class="cb col-1-4">
                         {{> checkbox IsChecked=IsChecked name=Cardiovascular }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Pulmonary</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedPulmonary}}
                      <div class="cb col-1-4">
                         {{> checkbox IsChecked=IsChecked name=Pulmonary }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Abdomen</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosAbdomen}}
                      <div class="cb col-1-4">
                         {{> checkbox IsChecked=IsChecked name=Abdomen }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Genitourinary</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosGenitourinary}}
                      <div class="cb col-1-4">
                       {{> checkbox IsChecked=IsChecked name=Genitourinary }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Rectal</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosRectal}}
                      <div class="cb col-1-4">
                         {{> checkbox IsChecked=IsChecked name=Rectal }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Upper extremities</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosUpperExtremities}}
                      <div class="cb col-1-4">
                        {{> checkbox IsChecked=IsChecked name=UpperExtremities }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Lower extremities</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs  justify-start">
                      {{#each @root.SelectedLowerExtremities}}
                      <div class="cb col-1-4">
                       {{> checkbox IsChecked=IsChecked name=LowerExtremities }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Skin</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedSkin}}
                      <div class="cb col-1-4">
                        {{> checkbox IsChecked=IsChecked name=Skin }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Nutrition</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosNutrition}}
                      <div class="cb col-1-4">
                        {{> checkbox IsChecked=IsChecked name=Nutrition }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>MUSCLE SKELETAL</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs  justify-start">
                      {{#each @root.SelectedRosMuscleSkeletal}}
                      <div class="cb col-1-4">
                        {{> checkbox IsChecked=IsChecked name=MuscleSketetal }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Endocrine</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosEndocrine}}
                      <div class="cb col-1-4">
                         {{> checkbox IsChecked=IsChecked name=Endocrine }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Pelvic</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosPelvic}}
                      <div class="cb col-1-4">
                        {{> checkbox IsChecked=IsChecked name=Pelvic }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Neurological</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosNeurological}}
                      <div class="cb col-1-4">
                         {{> checkbox IsChecked=IsChecked name=Neurological }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Mental</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cbs justify-start">
                      {{#each @root.SelectedRosMental}}
                      <div class="cb col-1-4">
                        {{> checkbox IsChecked=IsChecked name=Mental }}
                      </div>
                      {{/each}}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto">ASSESSMENT/DIAGNOSIS</h4>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            {{#each (getMedicalConditionsFromF2F @root)}}
            <span class="pr-5">{{HHSMedicalCondition}},</span>
            {{/each}}
          </td>
        </tr>
        <!-- PLAN -->
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto">PLAN</h4>
          </td>
        </tr>
        <!-- loop here... -->
        {{#splitArrayByNumber @root.SelectedPlanOnInitialAssesment 3}}
        <tr>
          {{#each chunk}}
          <td colspan="2">
            <div class="cb">
              {{> checkbox name=Plan IsChecked=IsChecked}}
            </div>
          </td>
          {{/each}}
        </tr>
        {{/splitArrayByNumber}}
      </tbody>
    </table>

    {{> doubleSignatures}}
  </div>
</section>
{{/with}}