{{#with InitialAssessmentForm}}
<section class="frow" id="initial-assesment">
  <div class="container-padding width-100">
    <div class="container centered mb-20">
      {{> formTitle ..}}
    </div>
    <table class="striped width-100 no-y-padding">
      <col width="16.666%" />
      <col width="16.666%" />
      <col width="16.666%" />
      <col width="16.666%" />
      <col width="16.666%" />
      <col width="16.666%" />

      <tbody>
        <tr>
          <td colspan="1">
            <div class="cb">
                {{> checkbox IsChecked=InitialVisit name="Initial Visit" }}
            </div>
          </td>
          {{!-- style="display: flex; flex-direction: row; width: 100%; align-items: flex-start; justify-content: flex-start;" --}}
          <td colspan="1">
            <div class="frow justify-start" >
              <div class="cb">
                 {{> checkbox IsChecked=FollowUpVisit name="Follow Up Visit" }}
              </div>
              
              <div class="cb">
                {{> checkbox IsChecked=RecertVisit name="Recert Visit" }}
              </div>
              </div>
            </div>
          </td>

          <td colspan="1">
            <div class="frow justify-start gutters">
              <span>Sex:</span>
              <div class="cb ml-10">
              {{> checkbox name="M" IsChecked=(equalityChecker @root.AppointmentInformation.PatientData.Sex "Male")}}
              </div>
              <div class="cb ml-10">
              {{> checkbox name="F" IsChecked=(equalityChecker @root.AppointmentInformation.PatientData.Sex "Female")}}
              </div>
            </div>
          </td>

          <td colspan="3">
            <div class="frow justify-start">
              Location patient is accessed:
              <div class="cb ml-10">
              {{> checkbox name="Home Visit" IsChecked=(equalityChecker LocationPatientIsAssessed "Home")}}              
              </div>
              <div class="cb ml-10">
              {{> checkbox name="Boarding Care" IsChecked=(equalityChecker LocationPatientIsAssessed "Boarding Care")}}
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4>Chief Complaint:</h4>
          </td>
        </tr>
        <tr>
          <td colspan="6">{{ChiefComplaints}}</td>
        </tr>
        
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto text-uppercase">Allergies</h4>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <strong>Drug / Food</strong>
          </td>
          <td colspan="3">
            <strong>Reaction</strong>
          </td>
        </tr>
        <!-- Repeat this row -->
        {{#each DrugFood}}
        <tr>
          <td colspan="3">
            <span>{{DrugFood}}</span>
          </td>
          <td colspan="3">
            <span>{{Reaction}}</span>
          </td>
        </tr>
        {{/each}}
        <tr>
          <td>
            <div class="cb">
               {{> checkbox IsChecked=Penicillin name="Penicillin" }}
            </div>
          </td>
          <td>
            <div class="cb">
               {{> checkbox IsChecked=Sulfa name="Sulfa" }}
            </div>
          </td>
          <td colspan="4">
            <div class="cb">
               {{> checkbox IsChecked=NOKNOWNALLERGIES name="NO KNOWN ALLERGIES" }}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <h4 class="fc m-auto">Functional Limitations</h4>
          </td>
          <td colspan="3">
            <h4 class="fc m-auto">Activities Permitted</h4>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="frow cb justify-start">
              {{#each @root.SelectedFunctionalLimitations}}
              <div class="col-1-3 cb">
                 {{> checkbox IsChecked=IsChecked name=PatientFunctionalLimitation }}
              </div>
              {{/each}}
              <div class="col-3-3 cb">
                {{> checkbox IsChecked=OtherFunctionalLimitationBool name='Others: '}}
                <span class="pl-5 text-bold margin-remover">{{{OtherFunctionalLimitationTextbox}}}</span>                
              </div>

            </div>
          </td>
          <td colspan="3">
            <div class="frow cb justify-start">
              <!-- Repeat Below for all list of activities permited -->
              {{#each @root.SelectedActivitiesPermitted}}
              <div class="cb col-1-3">
                  {{> checkbox IsChecked=IsChecked name=ActivitiesPermited }}
              </div>
              {{/each}}
              <div class="col-3-3 cb">
                {{> checkbox IsChecked=OtherActivitiesPermittedBool name='Others: '}}
                <span class="pl-5 text-bold margin-remover">{{{OtherActivitiesPermittedTextbox}}}</span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto">PAST MEDICAL HISTORY</h4>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <div class="frow cb justify-start">
              <!-- Repeat Below for all Surgical Histories -->
              {{#each @root.SelectedPastMedicalHistory}}
                <div class="cb col-1-6">
                  {{> checkbox IsChecked=IsChecked name=PASTMEDICALHISTORY }}
                </div>
                {{#if @last}}
                  
                  <div class="cb col-4-6 py-5">
                    <div class="frow justify-start items-end no-mpa">
                      {{> checkbox IsChecked=../OtherPMHistory name='Others: ' }}
                      <span class="pl-5 text-bold">{{{../OtherPastMedicalHistory}}}</span>
                    </div>
                  </div>
                  
                {{/if}}
              {{/each}}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto">PAST SURGICAL HISTORY</h4>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <div class="frow cb justify-start">
              <!-- Repeat Below for all Surgical Histories -->

              {{#each @root.SelectedPastSurgicalHistory}}
                <div class="cb col-1-6">
                  {{> checkbox IsChecked=IsChecked name=PastSurgicalHistory }}
                </div>
                {{#if @last}}
                  
                  <div class="cb col-5-6 py-5">
                    <div class="frow justify-start items-end no-mpa">
                      {{> checkbox IsChecked=../OtherPSHistory name='Others: ' }}
                      <span class="pl-5 text-bold">{{{../OtherPastSurgicalHistory}}}</span>
                    </div>
                  </div>
                  
                {{/if}}
              {{/each}}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto">Social History</h4>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            
            {{!-- <div class="frow justify-start"> --}}
            <div class="frow justify-start gutters">
              {{!-- <strong>Tobacco / THC</strong> --}}
              {{!-- <div class="cb col-1-6"> --}}              
              <strong class="col-1-6">{{> checkbox IsChecked=(isTrue PatientUseTobacco) name="Tobacco / THC"}}</strong>
              {{!-- </div> --}}
              {{!-- <div class="cb col-1-6">
                  {{> checkbox IsChecked=(checker PatientUseTobacco "No") name="No" }}
              </div> --}}
              {{#each @root.SelectedTobacco_THC}}
              <div class="col-1-6">
                <div class="cb">
                  {{> checkbox IsChecked=IsChecked name=TobaccoTHC }}
                </div>
              </div>
              {{/each}}
            
            </div>
            {{!-- </div> --}}

            <div class="frow justify-start gutters">
              {{!-- <strong class="col-1-6">ETOH/Alcohol</strong> --}}
              {{!-- <div class="cb col-1-6"> --}}
              
              <strong class="col-1-6">{{> checkbox IsChecked=(isTrue PatientConsumeAlcohol) name="ETOH/Alcohol" }}</strong>
                {{!-- </div> --}}
                {{!-- <div class="cb col-1-6">
                  {{> checkbox IsChecked=(checker PatientConsumeAlcohol "No") name="No" }}
                </div> --}}
              {{#each @root.SelectedAlcoholConsumption}}
              <div class="col-1-6">
                <div class="cb">
                  {{> checkbox IsChecked=IsChecked name=ETOHAlcohol }}
                </div>
              </div>
              {{/each}}              
            </div>

            <div class="frow justify-start gutters">
              <strong class="col-1-6">Drugs</strong>
              {{#each @root.SelectedDrugsOnSocialHistory}}
              <div class="col-1-6">
                <div class="cb">
                  {{> checkbox name=Drugs IsChecked=IsChecked}}
                </div>
              </div>
                {{/each}}
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto">
              REVIEW OF SYSTEM / PHYSICAL EXAMINATION
            </h4>
          </td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        <tr>
          <td colspan="6">
            <table class="striped width-100 no-y-padding">
              <thead>
                <tr>
                  <th colspan="7">
                    <div class="fc m-auto">VITALS</div>
                  </th>
                </tr>
                <tr>
                  <th>
                    <div class="text-center">
                      HT
                    </div>
                  </th>
                  <th>
                    <div class="text-center">
                      WT
                    </div>
                  </th>
                  <th>
                    <div class="text-center">
                      TEMP
                    </div>
                  </th>
                  <th>
                    <div class="text-center">
                      BP
                    </div>
                  </th>
                  <th>
                    <div class="text-center">
                      HR
                    </div>
                  </th>
                  <th>
                    <div class="text-center">
                      RR
                    </div>
                  </th>
                  <th>
                    <div class="text-center">
                      02 SAT
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="text-center">
                      {{HT}}
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      {{WT}}
                    </div>  
                  </td>
                  <td>
                    <div class="text-center">
                      {{TEMP}}
                    </div> 
                  </td>
                  <td>
                    <div class="text-center">
                      {{BP}}
                    </div> 
                  </td>
                  <td>
                    <div class="text-center">
                     {{HR}}
                    </div> 
                  </td>
                  <td>
                    <div class="text-center">
                      {{RR}}
                    </div> 
                  </td>
                  <td>
                    <div class="text-center">
                      {{SAT}}
                    </div>   
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <table class="striped width-100 no-y-padding">
              <col width="10%" />
              <col width="5%" />
              <col width="85%" />
              <thead>
                <tr>
                  <th>System</th>
                  <th>WNL</th>
                  <th>FINDINGS</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <strong>General</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                      {{#each @root.SelectedRosGeneral}}
                      <div class="cb col-1-4">
                        {{> checkbox IsChecked=IsChecked name=General }}
                      </div>
                      {{/each}}
                      <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=Other name="Other" }} :
                        <span class="margin-remover">{{{OtherGeneral}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Head</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                      {{#each @root.SelectedRosHead}}
                      <div class="cb col-1-4">
                         {{> checkbox IsChecked=IsChecked name=Head }}
                      </div>
                      {{/each}}
                      <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherHeadBool name="Other" }} :
                        <span class="margin-remover">{{{OtherHead}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Neck, Axilla, Breasts</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                      {{#each @root.SelectedRosNeckAxilliaBreasts}}
                      <div class="cb col-1-4">
                        {{> checkbox IsChecked=IsChecked name=NeckAxillaBreasts }}
                      </div>
                      {{/each}}
                      <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherNeckBool name="Other" }} :
                        <span class="margin-remover">{{{OtherNeckAxillaBreasts}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Eyes</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                      {{#each @root.SelectedRosEyes}}
                      <div class="cb col-1-4">
                         {{> checkbox IsChecked=IsChecked name=Eyes }}
                      </div>
                      {{/each}}
                      <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherEyesBool name="Other" }} :
                        <span class="margin-remover">{{{OtherEyes}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Ears</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                      {{#each @root.SelectedRosEars}}
                      <div class="cb col-1-4">
                        {{> checkbox IsChecked=IsChecked name=Ears }}
                      </div>
                      {{/each}}
                       <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherEarsBool name="Other" }} :
                        <span class="margin-remover">{{{OtherEars}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Nose</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                        {{#each @root.SelectedRosNose}}
                        <div class="cb col-1-4">
                          {{> checkbox IsChecked=IsChecked name=Nose }}
                        </div>
                        {{/each}}
                         <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherNoseBool name="Other" }} :
                        <span class="margin-remover">{{{OtherNose}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Mouth</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                      {{#each @root.SelectedRosMouth}}
                      <div class="cb col-1-4">
                         {{> checkbox IsChecked=IsChecked name=Mouth }}
                      </div>
                      {{/each}}
                       <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherMouthBool name="Other" }} :
                        <span class="margin-remover">{{{OtherMouth}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Cardiovascular</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                      {{#each @root.SelectedRosCardiovascular}}
                      <div class="cb col-1-4">
                         {{> checkbox IsChecked=IsChecked name=Cardiovascular }}
                      </div>
                      {{/each}}
                      <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherCardioBool name="Other" }} :
                        <span class="margin-remover">{{{OtherCardiovascular}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Pulmonary</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                      {{#each @root.SelectedPulmonary}}
                      <div class="cb col-1-4">
                         {{> checkbox IsChecked=IsChecked name=Pulmonary }}
                      </div>
                      {{/each}}
                      <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherPulmonaryBool name="Other" }} :
                        <span class="margin-remover">{{{OtherPulmonary}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Abdomen</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                      {{#each @root.SelectedRosAbdomen}}
                      <div class="cb col-1-4">
                         {{> checkbox IsChecked=IsChecked name=Abdomen }}
                      </div>
                      {{/each}}
                      <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherAbdomenBool name="Other" }} :
                        <span class="margin-remover">{{{OtherAbdomen}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Genitourinary</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                      {{#each @root.SelectedRosGenitourinary}}
                      <div class="cb col-1-4">
                       {{> checkbox IsChecked=IsChecked name=Genitourinary }}
                      </div>
                      {{/each}}
                       <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherGenitourinaryBool name="Other" }} :
                        <span class="margin-remover">{{{OtherGenitourinary}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Rectal</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                      {{#each @root.SelectedRosRectal}}
                      <div class="cb col-1-4">
                         {{> checkbox IsChecked=IsChecked name=Rectal }}
                      </div>
                      {{/each}}
                       <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherRectalBool name="Other" }} :
                        <span class="margin-remover">{{{OtherRectal}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Upper extremities</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                      {{#each @root.SelectedRosUpperExtremities}}
                      <div class="cb col-1-4">
                        {{> checkbox IsChecked=IsChecked name=UpperExtremities }}
                      </div>
                      {{/each}}
                       <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherUpperExtremitiesBool name="Other" }} :
                        <span class="margin-remover">{{{OtherUpperExtremities}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Lower extremities</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb  justify-start">
                      {{#each @root.SelectedLowerExtremities}}
                      <div class="cb col-1-4">
                       {{> checkbox IsChecked=IsChecked name=LowerExtremities }}
                      </div>
                      {{/each}}
                       <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherLowerBool name="Other" }} :
                        <span class="margin-remover">{{{OtherLowerExtremities}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Skin</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                      {{#each @root.SelectedSkin}}
                      <div class="cb col-1-4">
                        {{> checkbox IsChecked=IsChecked name=Skin }}
                      </div>
                      {{/each}}
                      <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherSkinBool name="Other" }} :
                        <span class="margin-remover">{{{OtherSkin}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Nutrition</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                      {{#each @root.SelectedNutrition}}
                      <div class="cb col-1-4">
                        {{> checkbox IsChecked=IsChecked name=Nutrition }}
                      </div>
                      {{/each}}
                      <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherNutritionBool name="Other" }} :
                        <span class="margin-remover">{{{OtherNutrition}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>MUSCLE SKELETAL</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb  justify-start">
                      {{#each @root.SelectedRosMuscleSkeletal}}
                      <div class="cb col-1-4">
                        {{> checkbox IsChecked=IsChecked name=MuscleSketetal }}
                      </div>
                      {{/each}}
                      <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherMUSCLESKELETALBool name="Other" }} :
                        <span class="margin-remover">{{{OtherMUSCLESKELETAL}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Endocrine</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                      {{#each @root.SelectedRosEndocrine}}
                      <div class="cb col-1-4">
                         {{> checkbox IsChecked=IsChecked name=Endocrime }}
                      </div>
                      {{/each}}
                      <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherEndocrineBool name="Other" }} :
                        <span class="margin-remover">{{{OtherEndocrine}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Pelvic</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                      {{#each @root.SelectedRosPelvic}}
                      <div class="cb col-1-4">
                        {{> checkbox IsChecked=IsChecked name=Pelvic }}
                      </div>
                      {{/each}}
                      <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherPelvicBool name="Other" }} :
                        <span class="margin-remover">{{{OtherPelvic}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Neurological</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                      {{#each @root.SelectedRosNeurological}}
                      <div class="cb col-1-4">
                         {{> checkbox IsChecked=IsChecked name=Neurological }}
                      </div>
                      {{/each}}
                      <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherNeurologicalBool name="Other" }} :
                        <span class="margin-remover">{{{OtherNeurological}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Mental</strong>
                  </td>
                  <td>
                    <div class="cb">
                      <span></span>
                    </div>
                  </td>
                  <td>
                    <div class="frow cb justify-start">
                      {{#each @root.SelectedRosMental}}
                      <div class="cb col-1-4">
                        {{> checkbox IsChecked=IsChecked name=Mental }}
                      </div>
                      {{/each}}
                      <div class="frow cb justify-start" style="gap: 5px; align-items:center">
                        {{> checkbox IsChecked=OtherMentalBool name="Other" }} :
                        <span class="margin-remover">{{{OtherMental}}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto">ASSESSMENT/DIAGNOSIS</h4>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            {{#each (getMedicalConditionsFromF2F @root)}}
            <span class="pr-5">{{PASTMEDICALHISTORY}},</span>
            {{/each}}
          </td>
        </tr>
        <!-- PLAN -->
        <tr>
          <td colspan="6">
            <h4 class="fc m-auto">PLAN</h4>
          </td>
        </tr>
        <!-- loop here... -->
        {{#splitArrayByNumber @root.SelectedPlanOnInitialAssesment 3}}
        <tr>
          {{#each chunk}}
          <td colspan="2">
            <div class="cb">
              {{> checkbox name=Plan IsChecked=IsChecked}}
            </div>
          </td>
          {{/each}}
        </tr>
        {{/splitArrayByNumber}}
      </tbody>
    </table>

    {{> doubleSignatures}}
  </div>
</section>
{{/with}}