{{#with PatientData}}
<section class="frow" id="intake-form">
    <div class="container-padding width-100">
        <div class="content">
            <div class="container centered mb-20">
                <h2 class="text-center m-auto">
                    INTAKE FORM <br />(GENERAL CONSENT FOR TREATMENT)
                </h2>
            </div>

            <table>
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <tr>
                    <td colspan="2">
                        <span>Referral form:</span>
                        <span class="p-5 text-bold">...referral form...</span>
                    </td>
                               
                    <td colspan="2">
                        <span>Date:</span>
                        <span class="p-5 text-bold">.. / .. / ....</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Telephone No:</span>
                        <span class="p-5 text-bold">Not here</span>
                    </td>
                    <td colspan="2">
                        <span>Home Health/Hospice:</span>
                        <span class="p-5 text-bold">
                            ...home health/hospice...
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <span class="text-bold">PATIENT INFORMATION</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Name:</span>
                        <span class="p-5 text-bold">{{pyFullName}}</span>
                    </td>
                    <td colspan="2">
                        <span>Date of Birth:</span>
                        <span class="p-5 text-bold">{{DateOfBirth}}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Address:</span>
                        <span class="p-5 text-bold">{{pyHomeAddress1}} {{pyHomeAddress2}}</span>
                    </td>
                    <td colspan="2">
                        <span>Patient's Phone No:</span>
                        <span class="p-5 text-bold">{{pyPhoneNumber}}</span>
                    </td>
                </tr>
            </table>
            
           
            <div class="frow justify-start">
                <!-- <span> -->
                <p>
                    I,
                    <span class="p-5 text-underline text-bold">{{pyFullName}}</span>,
                    here by give permission to
                    <span class="text-underline text-bold">{{@root.AppointmentInformation.SelectProvider}} </span>
                    (Authorized Medical Provider of
                    <b>{{@root.Office.OfficeName}}</b>) to perform all necessary
                    assessment and treatment. I understand that I may refuse or
                    terminate services at any time. If needed or requested, any
                    concerns regarding that medical condition and treatment will be
                    referred to other care provider. I understand that I can discuss
                    any religious or spiritual, cultural and other preferences that
                    are important to my treatment plan. I acknowledge that
                    <b>RECEIPT</b> of <b>Notice of Privacy (HIPAA Form)</b> and was
                    given opportunity to ask the questions and voice concerns. I
                    give permission to <b>{{@root.Office.OfficeName}}</b> to use and
                    disclose Protective Health Information about me to carry out
                    treatment, payment, health care operations.
                </p>
                <!-- </span> -->
            </div>
            <div class="frow justify-start text-capitalize text-underline text-bold mt-10">
                <span>ACKNOWLEDGEMENT OF PRIVACY PRACTICES</span>
            </div>
            <div class="frow justify-start">
                <p>
                    I acknowledge the <b>Receipt of Privacy Practices</b> and was
                    given opportunity to review notices, ask the questions and voice
                    concerns, set limitations / restrictions on the use of my health
                    information. I give permission to
                    <b>{{@root.OfficeName}}</b> to use and disclose
                    Protective Health Information about me to carry out treatment,
                    payment, health care operations, receive and release information
                    pertinent to my care.
                </p>
                <span>
                    I authorize <b>{{@root.OfficeName}}</b> to photograph or
                    videotape appropriate body parts for necessary documentations
                    only.
                </span>
            </div>
            <div class="frow justify-start gutters text-bold">
                <span>Photo/Video consent:</span>
                <div class="cb">
                    {{> checkbox IsChecked=(checker @root.AppointmentInformation.PhotoVideoConsent "Yes") name="Yes" }}
                </div>
                <div class="cb">
                    {{> checkbox IsChecked=(checker @root.AppointmentInformation.PhotoVideoConsent "No") name="No" }}
                </div>
            </div>

            <table>
                <col width="50%">
                <col width="50%">
                <tr class="text-bold text-underline">
                    <td colspan="2">REASON REFERRAL</td>
                </tr>
                <tr>
                    <td>
                        <span>Discharge from Hospital:</span>
                        <span class="p-5 text-bold"> 
                            {{@root.AppointmentInformation.DischargeFromHospital}}
                        </span>
                    </td>
                    <td>
                        <span>Date of Discharge:</span>
                        <span class="p-5 text-bold">
                            {{@root.AppointmentInformation.DateOfDischarge}}
                        </span>
                    </td>
                </tr>
            </table>
            <table>
                <col width="16.66%">
                <col width="16.66%">
                <col width="16.66%">
                <col width="16.66%">
                <col width="16.66%">
                <col width="16.66%">
                <tr>
                    <td>
                        <div class="frow justify-start gutters mt-10">
                            <span class="cb mb-10">Patient is using: </span>
                    </td>
                    <td colspan="5">
                        <div class="frow justify-start">
                            {{#filterArr @root.SelectedPatientsDME 'true'}}
                                <div class="cb col-1-5 justify-start">
                                    {{> checkbox IsChecked=IsChecked name=DMEName }}
                                </div>
                            {{/filterArr}}               
                        </div>
                    </td>
                </tr>
            </table>
            

            <div class="frow justify-start mt-50">
                <div class="col-1-2">
                    <span class="text-bold">PATIENT'S SIGNATURE: </span>
                    {{> signature name="patient"}}
                </div>
                <div class="col-1-2 frow" style="align-items: flex-end;">
                    <span class="p-5">DATE:</span>
                    <span class="p-5 text-underline"> {{@root.AppointmentInformation.PatientsSignatureDate}}</span>
                </div>
            </div>
            <div class="frow justify-start">
                <div class="col-1-1">
                    <span>Relationship to patient:</span>
                    <span class="p-5 text-underline text-bold">
                       {{RelationshipToThePatient}}
                    </span>
                </div>
            </div>
            <div class="frow justify-start">
                <div class="col-1-2">
                    <span>Witness:</span>
                    {{> signature name="witness"}}
                </div>
                <div class="col-1-2 frow" style="align-items: flex-end;">
                    <span class="p-5">Date:</span>
                    <span class="p-5 text-underline"> {{@root.AppointmentInformation.RecordReleaseAuthorization.WitnessDate}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
{{/with}}