{{#with PatientData}}
<section class="frow" id="intake-form">
    <div class="container-padding width-100">
        <div class="content">
            <div class="container centered mb-20">
                <h2 class="text-center m-auto">
                    INTAKE FORM <br />(GENERAL CONSENT FOR TREATMENT)
                </h2>
            </div>

            <table class="fz-18">
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <tr>
                    <td colspan="2">
                        <span>Home Health:</span>
                        <span class="p-5 text-bold">
                           {{@root.AppointmentInformation.Referral.HH}}
                        </span>
                    </td> 
                    <td colspan="2">
                        <span>Date:</span>
                        <span class="p-5 text-bold">{{formatDate @root.FaceToFace.Date}}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Telephone No:</span>
                        <span class="p-5 text-bold">{{@root.AppointmentInformation.Referral.OfficeNumber}}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <span class="text-bold">PATIENT INFORMATION</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Name:</span>
                        <span class="p-5 text-bold">{{pyFullName}}</span>
                    </td>
                    <td colspan="2">
                        <span>Date of Birth:</span>
                        <span class="p-5 text-bold">{{formatDate DateOfBirth}}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Address:</span>
                        <span class="p-5 text-bold">{{pyHomeAddress1}} {{pyHomeAddress2}}</span>
                    </td>
                    <td colspan="2">
                        <span>Patient's Phone No:</span>
                        <span class="p-5 text-bold">{{pyPhoneNumber}}</span>
                    </td>
                </tr>
            </table>
            
           
            <div class="frow justify-start fz-18">
                <!-- <span> -->
                <p>
                    I,
                    <span class="p-5 text-underline text-bold">{{pyFullName}}</span>,
                    here by give permission to
                    <span class="text-underline text-bold">{{@root.AppointmentInformation.SelectProvider}} </span>
                    (Authorized Medical Provider of
                    <b>{{@root.AppointmentInformation.Office.OfficeName}}</b>) to perform all necessary
                    assessment and treatment. I understand that I may refuse or
                    terminate services at any time. If needed or requested, any
                    concerns regarding that medical condition and treatment will be
                    referred to other care provider. I understand that I can discuss
                    any religious or spiritual, cultural and other preferences that
                    are important to my treatment plan. I acknowledge the Notice of Privacy Practices 
                    (HIPAA Form). I give <b>{{@root.AppointmentInformation.Office.OfficeName}}</b> 
                    permission to use and disclose my Protected Health Information (PHI) to carry out 
                    treatment, payment, and healthcare operations only.
                    {{!-- I acknowledge that
                    <b>RECEIPT</b> of <b>Notice of Privacy (HIPAA Form)</b> and was
                    given opportunity to ask the questions and voice concerns. I
                    give permission to <b>{{@root.AppointmentInformation.Office.OfficeName}}</b> to use and
                    disclose Protective Health Information about me to carry out
                    treatment, payment, health care operations. --}}
                </p>
                <!-- </span> -->
            </div>
            <div class="frow justify-start text-capitalize text-underline text-bold mt-10 fz-20">
                <span>ACKNOWLEDGEMENT OF PRIVACY PRACTICES</span>
            </div>
            <div class="frow justify-start fz-18">
                <p>
                    I acknowledge the Privacy Practices and was given the opportunity to ask questions, 
                    voice concerns, and set limitations/restrictions on the use of my health information. 
                    I give <b>{{@root.AppointmentInformation.Office.OfficeName}}</b> permission to use and 
                    disclose my Protected Health Information (PHI) to carry out treatment, payment, and 
                    healthcare operations, and to receive and release information pertinent to my care.
                    {{!-- I acknowledge the <b>Receipt of Privacy Practices</b> and was
                    given opportunity to review notices, ask the questions and voice
                    concerns, set limitations / restrictions on the use of my health
                    information. I give permission to
                    <b>{{@root.AppointmentInformation.Office.OfficeName}}</b> to use and disclose
                    Protective Health Information about me to carry out treatment,
                    payment, health care operations, receive and release information
                    pertinent to my care. --}}
                </p>
                <span>
                    I authorize <b>{{@root.AppointmentInformation.Office.OfficeName}}</b> to photograph or
                    videotape appropriate body parts for necessary documentations only.
                </span>
            </div>
            <div class="frow justify-start gutters text-bold fz-18 mt-10 mb-10">
                {{!-- <span>Photo/Video consent:</span> --}}
                <div class="cb">
                    {{> checkbox IsChecked=(isTrue @root.AppointmentInformation.PhotoVideoConsent) name="Photo/Video consent" }}
                </div>
                {{!-- <div class="cb">
                    {{> checkbox IsChecked=(checker @root.AppointmentInformation.PhotoVideoConsent "No") name="No" }}
                </div> --}}
            </div>

            <table class="fz-18">
                <col width="50%">
                <col width="50%">
                <tr class="text-bold text-underline">
                    <td colspan="2">REASON REFERRAL</td>
                </tr>
                <tr>
                    <td>
                        <span>Discharge from Hospital:</span>
                        <span class="p-5 text-bold"> 
                            {{@root.AppointmentInformation.DischargeFromHospital}}
                        </span>
                    </td>
                    <td>
                        <span>Date of Discharge:</span>
                        <span class="p-5 text-bold">
                            {{formatDate @root.AppointmentInformation.DateOfDischarge}}
                        </span>
                    </td>
                </tr>
            </table>
            <table class="fz-18">
                <col width="16.66%">
                <col width="16.66%">
                <col width="16.66%">
                <col width="16.66%">
                <col width="16.66%">
                <col width="16.66%">
                <tr>
                    <td>
                        <div class="frow justify-start gutters mt-10">
                            <span class="cb mb-10">Patient is using: </span>
                    </td>
                    <td colspan="5">
                        <div class="frow justify-start">
                            {{#filterArr @root.SelectedPatientsDME 'true'}}
                                <div class="cb col-1-5 justify-start">
                                    {{> checkbox IsChecked=IsChecked name=DMEName }}
                                </div>
                            {{/filterArr}}               
                        </div>
                    </td>
                </tr>
            </table>
            
            <div class="mt-100"></div>

            <table class="fz-18">
                <col width="16.66%">
                <col width="20%">
                <col width="16.66%">
                <col width="16.66%">
                <col width="10.2%">
                <col width="20%">
                
                
                <tr>
                    {{!-- <td>
                        <span class="text-bold">PATIENT'S SIGNATURE: </span>
                    </td> --}}
                    <td colspan="5">
                        <div class="text-bold frow row-start">
                            PATIENT'S SIGNATURE:
                        <span class="px-30">{{> signature name="patient"}}</span></div>
                    </td>
                    <td colspan="1">
                        <span class="p-5">Date:</span>
                        <span class="p-5 text-bold">{{formatDate @root.AppointmentInformation.PatientsSignatureDate}}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        <span>Relationship to patient:</span>
                    </td>
                    <td colspan="5">
                        <span class="p-5 text-bold">
                            {{RelationshipToThePatient}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Name of Witness:</span>                   
                        <span class="text-bold">{{@root.AppointmentInformation.PatientData.Witness.pyFullName}}</span>
                    </td>
                    {{!-- <td></td> --}}
                    <td colspan="3">
                        <div  class="frow row-start">Signature of Witness:
                        <span class="px-30">{{> signature name="witness"}}</span>
                    </td>
                    <td colspan="1">
                        <span class="p-5">Date:</span>
                        <span class="p-5 text-bold">{{formatDate @root.AppointmentInformation.RecordReleaseAuthorization.WitnessDate}}</span>
                    </td>
                </tr>
            </table>

            {{!-- <div class="frow justify-start mt-50 fz-18">
                <div class="col-1-3">
                    <span class="text-bold">PATIENT'S SIGNATURE: </span>
                    {{> signature name="patient"}}
                </div>
                <div class="col-1-3 frow" style="align-items: flex-end;">
                    <span class="p-5">Date:</span>
                    <span class="p-5 text-underline"> {{@root.AppointmentInformation.PatientsSignatureDate}}</span>
                </div>               
            </div>
            <div class="frow justify-start mt-20 fz-18">
                <div class="col-1-1">
                    <span>Relationship to patient:</span>
                    <span class="p-5 text-underline text-bold">
                       {{RelationshipToThePatient}}
                    </span>
                </div>
            </div>
            <div class="frow mt-30 fz-18">
                <div class="col-1-3">
                    <span>Signature of Witness:</span>
                    {{> signature name="witness"}}
                </div>
                <div class="col-1-3 frow" style="align-items: flex-end;">
                    <span>Name of Witness:</span>
                    <span class="text-bold">{{@root.AppointmentInformation.PatientData.Witness.pyFullName}}</span>
                </div>               
                <div class="col-1-3 frow" style="align-items: flex-end;">
                    <span class="p-5">Date:</span>
                    <span class="p-5 text-underline"> {{@root.AppointmentInformation.RecordReleaseAuthorization.WitnessDate}}</span>
                </div>
            </div> --}}
        </div>
    </div>
</section>
{{/with}}