{{#with MedicalReconciliation}}
<section class="frow" id="medication-recon">
  <div class="container-padding width-100">
    <div class="content">
      <div class="container centered mb-20">
        {{> formTitle ..}}
      </div>

      <div class="medication info">
        <table class="width-100">
          <col width="25%">
          <col width="25%">
          <col width="25%">
          <col width="25%">
          
          <tr>
            <td colspan="2">
              <span>Phone:</span>
              <span class="p-5 text-underline text-bold">{{Phone}}</span>
            </td>            
            <td colspan="2">
              <span>HICN:</span>
              <span class="p-5 text-underline text-bold">{{HICN}}</span>
            </td>            
          </tr>
          <tr>
            <td>
              <span>DIAGNOSIS:</span>
              <span class="p-5 text-underline text-bold">{{Diagnosis}}</span>
            </td>
            <td>
              <span>ALLERGIES:</span>
              <span class="p-5 text-underline text-bold">{{Allergies}}</span>
            </td>
            <td>
              <span>HEIGHT:</span>
              <span class="p-5 text-underline text-bold">{{Height}}</span>
            </td>
            <td>
              <span>WEIGHT:</span>
              <span class="p-5 text-underline text-bold">{{Weight}}</span>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="frow justify-start gutters">
                <span>REVIEWED FOR CONTRAINDICATIONS:</span>
                  <div class="cb">
                    {{> checkbox name="Yes" IsChecked=(checker ReviewedForContrainedications "Yes")}}
                  </div>
                  <div class="cb">
                    {{> checkbox name="No" IsChecked=(checker ReviewedForContrainedications "No")}}
                  </div>              
              </div>
            </td>
            <td colspan="2">
              <div class="frow justify-start gutters">
                <span>REVIEWED FOR INTERACTIONS:</span>
                <div class="cb">
                  {{> checkbox name="Yes" IsChecked=(checker ReviewedForInteractions "Yes")}}
                </div>
                <div class="cb">
                  {{> checkbox name="No" IsChecked=(checker ReviewedForInteractions "No")}}
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <span>PHARMACY NAME:</span>
            </td>              
            <td colspan="3">
              <span class="p-l text-underline text-bold">{{PharmacyName}}</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>ADDRESS:</span>
              
            </td>
            <td colspan="3">
              <span class="p-l text-underline text-bold">{{PharmacyAddress}}</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>PHONE:</span>
              
            </td>
            <td colspan="3">
              <span class="p-l text-underline text-bold">{{PharmacyPhone}}</span>
            </td>
          </tr>
        </table>

          <!-- Rest... -->

          <table class="striped width-100">
            <thead>
              <tr>
                <th>Prescribed Medications</th>
                <th>DOSE</th>
                <th>ROUTE</th>
                <th>FREQUENCY</th>
                <th>PURPOSE</th>
                <th>REFILLS</th>
              </tr>
            </thead>
            <tbody>
              {{#each PrescribedMedicines}}
              <tr>
                <td>{{MedicineName}}</td>
                <td>{{Dose}}</td>
                <td>{{Route}}</td>
                <td>{{Frequency}}</td>
                <td>{{Purpose}}</td>
                <td>{{Refills}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>

          <div class="cb">
            <label for="name">See Attachment</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/with}}