{{#with MedicalReconciliation}}
<section class="frow" id="medication-recon">
  <div class="container-padding width-100">
    <div class="content">
      <div class="container centered mb-20">
        {{> formTitle ..}}
      </div>

      <div class="medication info">
        <div class="frow justify-start">
          <div class="col-1-2">
            <span>Phone:</span>
            <span class="p-5 text-underline">{{Phone}}</span>
          </div>
          <div class="col-1-2">
            <span>HICN:</span>
            <span class="p-5 text-underline">{{HICN}}</span>
          </div>
          <div class="col-1-4">
            <span>DIAGNOSIS:</span>
            <span class="p-5 text-underline">{{Diagnosis}}</span>
          </div>
          <div class="col-1-4">
            <span>ALLERGIES:</span>
            <span class="p-5 text-underline">{{Allergies}}</span>
          </div>
          <div class="col-1-4">
            <span>HEIGHT:</span>
            <span class="p-5 text-underline">{{Height}}</span>
          </div>
          <div class="col-1-4">
            <span>WEIGHT:</span>
            <span class="p-5 text-underline">{{Weight}}</span>
          </div>

          <div class="frow col-1-2 justify-start">
            <span>REVIEWED FOR CONTRAINDICATIONS:</span>
            <div class="cb">
              {{> checkbox name="Yes" IsChecked=(checker ReviewedForContrainedications "Yes")}}
            </div>
            <div class="cb">
               {{> checkbox name="No" IsChecked=(checker ReviewedForContrainedications "No")}}
            </div>
          </div>
          <div class="frow col-1-2 justify-start">
            <span>REVIEWED FOR INTERACTIONS:</span>
            <div class="cb">
               {{> checkbox name="Yes" IsChecked=(checker ReviewedForInteractions "Yes")}}
            </div>
            <div class="cb">
               {{> checkbox name="No" IsChecked=(checker ReviewedForInteractions "No")}}
            </div>
          </div>

          <div class="frow col-1-1 justify-start">
            <span>PHARMACY NAME:</span>
            <span class="p-l text-underline">{{PharmacyName}}</span>
          </div>

          <div class="frow col-1-1 justify-start">
            <span>ADDRESS:</span>
            <span class="p-l text-underline">{{PharmacyAddress}}</span>
          </div>

          <div class="frow col-1-1 justify-start">
            <span>PHONE:</span>
            <span class="p-l text-underline">{{PharmacyPhone}}</span>
          </div>

          <!-- Rest... -->

          <table class="striped width-100">
            <thead>
              <tr>
                <th>Prescribed Medications</th>
                <th>DOSE</th>
                <th>ROUTE</th>
                <th>FREQUENCY</th>
                <th>PURPOSE</th>
                <th>REFILLS</th>
              </tr>
            </thead>
            <tbody>
              {{#each PrescribedMedicines}}
              <tr>
                <td>{{MedicineName}}</td>
                <td>{{Dose}}</td>
                <td>{{Route}}</td>
                <td>{{Frequency}}</td>
                <td>{{Purpose}}</td>
                <td>{{Refills}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>

          <div class="cb">
            <label for="name">See Attachment</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/with}}