{{#with PatientData}}
<section class="frow" id="polst">
  <div class="container-padding width-100">
    <table class="width-10">
      <col width="20%" />
      <col width="20%" />
      <col width="20%" />
      <col width="20%" />
      <col width="20%" />
      <tbody>
        <tr>
          <td class="background-black text-center text-bold fz-16" colspan="5">
            HIPAA PERMITS DISCLOSURE OF POLST TO OTHER HEALTHCARE PROVIDERS AS
            NECESSARY
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <div class="frow">
              <img src="{{hostUrl}}/reports/assets/polst.jpeg" alt="polst" />
              <div class="col-1-1 text-center">EMSA #111B</div>
              <div class="col-1-1 text-center">(Effective 10/1/2014)</div>
            </div>
          </td>
          <td colspan="4">
            <table >
              <col width="50%" />
              <col width="50%" />
              <tbody>
                <tr>
                  <td colspan="2">
                    <span class="text-bold fz-26">Physician Orders for
                      Life-Sustaining Treatment (POLST)</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      First follow these orders, then contact physician. A copy
                      of the signed POLST form is a legally valid physician
                      order. Any section not completed implies full treatment
                      for that section. POLST complements an Advance Directive
                      and is not intended to replace that document.
                    </p>
                  </td>
                  <td>
                    <table>
                      <tbody>
                        <tr>
                          <td>Patient Last Name: <span class="text-bold">
                            {{pyLastName}}
                          </span></td>
                          <td>
                            <span>Date Form Prepared:</span>
                            <span class="text-bold">{{formatDate ../DateFormPrepared}}</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>
                              Patient First Name: 
                            </span>
                            <span class="text-bold">
                              {{pyFirstName}}
                            </span>
                          </td>
                          <td>
                            <span>
                              Patient Date of Birth:
                            </span>
                            <span class="text-bold">
                              {{formatDate DateOfBirth}}
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>
                              Patient Middle Name:
                            </span>
                            <span class="text-bold">
                              {{pyMiddleInitial}}
                              </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="no-padding">
      <tbody>
        <!-- A -->
        <tr>
          <td class="text-center px-10">
            <div class="text-bold fz-30">A</div>
            <div class="fz-16">Check One</div>
          </td>
          <td>
            <table class="width-100">
              <tbody>
                <tr>
                  <div class="fz-24 background-dgrey p-10">
                    <b>CARDIOPULMONARY RESUSCITATION (CPR):</b>
                    If patient has no pulse and is not breathing. If patient is
                    NOT in cardiopulmonary arrest, follow orders in Sections B
                    and C.
                  </div>
                </tr>
                <tr>
                  <div class="p-5">
                    <div class="cb">
                      {{> checkbox name="Attempt Resuscitation/CPR" IsChecked=../POLST/AttemptResuscitationCPR}}
                      <span class="cb" style="padding-left: 10px;">(Selecting CPR in Section A requires selecting Full Treatment in Section B)</span>
                    </div>
                    <div class="cb">
                      {{> checkbox name="Do Not Attempt Resuscitation/DNR" IsChecked=../POLST/DoNotAttemptResuscitationDNR}}
                      <span class="cb" style="padding-left: 10px;">(Allow Natural Death)</span>
                    </div>
                  </div>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!-- B -->
        <tr>
          <td class="text-center px-10">
            <div class="text-bold fz-30">B</div>
            <div class="fz-16">Check One</div>
          </td>
          <td>
            <table class="width-100">
              <tbody>
                <tr>
                 <td> <div class="fz-24 background-dgrey p-10">
                    <b>MEDICAL INTERVENTIONS:</b>
                    If patient is found with a pulse and/or is breathing.
                  </div></td>
                </tr>
                <tr>
                  <td> <div class="p-5">
                    <div>
                      <div class="frow justify-start">
                        {{> checkbox name="Full Treatment" IsChecked=../POLST/FullTreatment}}
                        <strong class="cb">– primary goal of prolonging life by all medically effective means.</strong>
                      </div>
                      <span class="cb pl-25">
                        In addition to treatment described in Selective Treatment and Comfort-Focused Treatment use intubation, advanced airway interventions, mechanical ventilation, and cardioversion as indicated.
                      </span>
                    </div>
                    <div class="pl-25">
                      {{> checkbox name="Trial Period Of Full Treatment" IsChecked=../POLST/TrialPeriodOfFullTreatment}}
                    </div>
                    <div>
                      <div class="frow justify-start">
                          {{> checkbox name="Selective Treatment" IsChecked=../POLST/SelectiveTreatment}}
                          <strong class="cb">– goal of treating medical conditions while avoiding burdensome measures.</strong>
                      </div>
                      <span class="cb pl-25">
                       In addition to treatment described in Comfort-Focused Treatment, use medical treatment, IV antibiotics, and IV fluids as indicated. Do not intubate. May use non-invasive positive airway pressure. Generally, avoid intensive care.
                      </span>
                    </div>
                    <div class="frow justify-start pl-25">
                      {{> checkbox name="Request Transfer To Hospital" IsChecked=../POLST/RequestTransferToHospitalOnly}}
                      <strong style="padding-left: 3px;"> only if comfort needs cannot be met in current location.</strong>
                    </div>
                    <div>
                      <div class="frow justify-start">
                        {{> checkbox name="Comfort-Focused Treatment" IsChecked=../POLST/ComfortFocusedTreatment}}
                        <strong class="cb">– primary goal of maximizing comfort.</strong>
                      </div>
                      <div class="cb pl-25">
                        <span>
                        Relieve pain and suffering with medication by any route as needed; use oxygen, suctioning, and manual treatment of airway obstruction. Do not use treatments listed in Full and Selective Treatment unless consistent with comfort goal. <b>Request Transfer To Hospital only if comfort needs cannot be met in current location.</b>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="margin-remover text-bold ml-5">Additional Orders: <span> {{{@root.AppointmentInformation.B_AdditionalOrders}}}</span></div></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!-- C -->
        <tr>
          <td class="text-center px-10">
            <div class="text-bold fz-30">C</div>
            <div class="fz-16">Check One</div>
          </td>
          <td>
            <table class="width-100">
              <col width="50%" />
              <col width="50%" />
              <tbody>
                <tr>
                  <td colspan="2"><div class="fz-24 background-dgrey p-10">
                    <b>ARTIFICIALLY ADMINISTERED NUTRITION:</b>
                    Offer food by mouth if feasible and desired.
                  </div></td>
                </tr>
                <tr>
                  <td>
                    <div class="p-5">
                      <div class="cb">
                       {{> checkbox name="Long-term Artificial Nutrition" IsChecked=../POLST/LongtermartificialNutrition}}
                       <span class="cb">, including feeding tubes</span>
                      </div>
                      <div class="cb">
                       {{> checkbox name="Trial Period Of Artificial Nutrition" IsChecked=../POLST/TrialPeriodOfArtificialNutrition}}
                      </div>
                      <div class="cb">
                       {{> checkbox name="No Artificial Means Of Nutrition" IsChecked=../POLST/NoArtificialMeansOfNutrition}}
                      </div>
                    </div>
                  </td>
                  <td class="va-top">
                       <b class="margin-remover">Additional Orders: <span class="p-5 text-bold"> {{{@root.AppointmentInformation.C_AdditionalOrders}}}</span></b>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!-- D -->
        <tr>
          <td class="text-center px-10">
            <div class="text-bold fz-30">D</div>
            <div class="fz-16">Check One</div>
          </td>
          <td>
            <table class="no-x-padding">

              <tbody>
                <tr>
                  <td>
                    <div class="fz-24 background-dgrey p-10">
                      <b>INFORMATION AND SIGNATURES:</b>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table>
                      <col width="50%" />
                      <col width="25%" />
                      <col width="25%" />
                      <tbody>
                        <tr>
                          <td>Discussed with:</td>
                          <td>
                            <div class="cb">
                               {{> checkbox name="Patient (Patient Has Capacity)" IsChecked=../POLST/PatientHasCapacity}}
                            </div>
                          </td>
                          <td>
                            <div class="cb">
                               {{> checkbox name="Legally Recognized Decisionmaker" IsChecked=../POLST/LegallyRecognizedDecisionmaker}}
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="frow justify-start">
                              <div class="cb">
                               {{> checkbox name="Advance Directive Dated" IsChecked=../POLST/AdvanceDirectiveDated}}
                                </label>
                              </div>
                              <div class="date px-5 text-underline">Date comes here</div>
                              <div>,available and reviewed -&gt; </div>
                            </div>
                            <div class="cb">
                               {{> checkbox name="Advance Directive Not Available" IsChecked=../POLST/AdvanceDirectiveNotAvailable}}
                              </label>
                            </div>

                            <div class="cb">
                               {{> checkbox name="No Advance Directive" IsChecked=../POLST/NoAdvanceDirective}}
                              </label>
                            </div>

                          </td>
                          <td class="va-top" colspan="2">
                            <div class="text-bold">
                              Healthcare Agent if named in Advance Directive:
                            </div>
                            <div class="name">
                              <span>Name:</span>
                              <span class="text-bold">{{../POLST/HealthcareAgentName}}</span>
                            </div>
                            <div class="phone">
                              <span>Phone:</span>
                              <span class="text-bold">{{../POLST/HealthcareAgentPhone}}</span>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" class="background-dgrey p-10">
                            <div class="fz-16">
                              <b>Signature Provider:</b><br />
                              <span>My signature below indicates to the best of
                                my knowledge that these orders are consistent
                                with the patient's medical condition and
                                preferences.</span>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="name">Print Provider Name:</span>
                            <span class="text-bold">{{@root.AppointmentInformation.SelectProvider}}</span>
                          </td>
                          <td>
                            <div class="phone">
                              <span>Phone:</span>
                              <span class="text-bold">{{../POLST.Physician.pyPhoneNumber}}</span>
                            </div>
                          </td>

                          <td>
                            <div class="license">
                              <span>License #:</span>
                              <span class="text-bold">{{../POLST.Physician.LicenseNumber}}</span>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <div class="frow row-start">
                              Provider Signature:                            
                            <span class="px-30">{{> signature name="provider"}}</span>
                            </div>
                          </td>
                          <td>
                            <div class="date">
                              <span>Date:</span>
                              <span class="text-bold">{{formatDate @root.AppointmentInformation.SignatureDate}}</span>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" class="background-dgrey p-10">
                            <div class="fz-16">
                              <b>Signature of Patient or Legally Recognized
                                Decisionmaker:</b>
                              
                              <br />
                              <span>I am aware that this form is voluntary. By
                                signing this form, the legally recognized
                                decisionmaker acknowledges that this request
                                regarding resuscitative measures is consistent
                                with the known desires of, and with the best
                                interest of, the patient who is the subject of
                                the form.</span>
                            </div>

                          </td>
                        </tr>

                        <tr>
                          <td colspan="2">
                            <div class="name">
                              <span>Print Name:</span>
                              <span class="text-bold">{{pyFullName}}</span>
                            </div>
                          </td>
                          <td>
                            <div class="relationship">
                              <span>Relationship (write self if patient):</span>
                              <span class="text-bold">{{RelationshipToThePatient}}</span>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <div class="frow row-start"">
                              Signature:
                              <span class="px-30">{{> signature name="patient"}}</span>
                            </div>
                          </td>
                          <td>
                            <div class="date">
                              <span>Date:</span>
                              <span class="text-bold">{{formatDate @root.AppointmentInformation.PatientData.PatientSignatureDate}}</span>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="address">
                              <span>Mailing Address (street/city/state/zip):</span>
                              <span class="text-bold">{{pyHomeAddress1}} {{pyHomeAddress2}}, {{pyCity}}, {{pyState}}, {{ZipCode}}</span>
                            </div>
                          </td>
                          <td>
                            <div class="phone">
                              <span>Phone:</span>
                              <span class="text-bold">{{pyPhoneNumber}}</span>
                            </div>
                          </td>
                          <td>
                            <div class="office-use-only">
                              <span>Office Use Only:</span>
                              <span></span>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>

                </tr>
              </tbody>

            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
{{/with}}