<section class="frow" id="records-release-authorization">
    <div class="container-padding width-100">
        <div class="content">
            <div class="container centered mb-20">
                 {{!-- {{> formTitle ..}} --}}
                 <h2 class="text-center m-auto">RECORDS RELEASE/AUTHORIZATION</h2>
            </div>
        {{#with RecordReleaseAuthorization}}
            <div class="text-center m-auto text-bold">RECORDS REQUESTED</div>
            <ul class="text-bold ml-50">
                <li>The patient's significant medical history</li>
                <li>Current medical findings</li>
                <li>Diagnosis (es)</li>
                <li>Rehabilitation goals, if determined</li>
            </ul>
            <div class="frow justify-start">
                <div class="col-1-2">
                    <span>Name of Patient:</span>
                    <span class="p-5 text-underline">{{../PatientData/pyFullName}}.</span>
                </div>
                <div class="col-1-2">
                    <span>Medicare No:</span>
                    <span class="p-5 text-underline">......, ......., ......</span>
                </div>
            </div>
            <div class="frow justify-start">
                <div class="col-1-2">
                    <span>Social Security No:</span>
                    <span class="p-5 text-underline">{{../PatientData/pySSN}}.</span>
                </div>
                <div class="col-1-2">
                    <span>Date of Birth:</span>
                    <span class="p-5 text-underline">{{../PatientData/DateOfBirth}}</span>
                </div>
                <div class="col-1-1 text-bold">
                    <span>Address:</span>
                    <span class="p-5 text-underline">{{../PatientData/pyHomeAddress1}} {{../PatientData/pyHomeAddress2}}</span>
                </div>
                <div class="col-1-4 text-bold">
                    <span>City:</span>
                    <span class="p-5 text-underline">{{../PatientData/pyCity}}</span>
                </div>
                <div class="col-1-4 text-bold">
                    <span>State:</span>
                    <span class="p-5 text-underline">{{../PatientData/pyState}}</span>
                </div>
                <div class="col-1-4 text-bold">
                    <span>Zip:</span>
                    <span class="p-5 text-underline">..zip..</span>
                </div>
            </div>
            <div class="frow justify-start mt-50">
                <div class="col-1-2 text-bold">
                    <span>AUTHORIZATION SIGNATURE</span>
                     <img class="signature-img" src="{{getSignatureUrl @root 'authorization'}}" alt="authorization_signatures">
                </div>
                <div class="col-1-2">
                    <span>DATE:</span>
                    <span class="p-5 text-underline">{{SignatureDate}}.</span>
                </div>
            </div>
            <div class="frow justify-start mt-10 mb-5">
                <div class="col-1-1">
                    <span>NAME OF SIGNATORY:</span>
                    <span class="p-5 text-underline">{{NameOfSignatory}}</span>
                </div>
            </div>
            <div class="frow justify-start mb-5">
                <span>(IF DIFFERENT FROM PATIENT)</span>
            </div>
            <div class="frow justify-start">
                <div class="col-1-1">
                    <span>Relationship to patient:</span>
                    <span class="p-5 text-underline">{{RelationshipToPatient}}</span>
                </div>
            </div>
            <div class="frow justify-start">
                <div class="col-1-2">
                    <span>Witness</span>
                   <img class="signature-img" src="{{getSignatureUrl @root 'witness'}}" alt="witness_signatures">
                </div>
                <div class="col-1-2">
                    <span>Date</span>
                    <span class="p-5 text-underline">{{WitnessDate}}</span>
                </div>
            </div>
            <div class="frow justify-start mt-10">
                <div class="col-1-1">
                    THIS RELEASE IS VALID FOR 6 MONTHS FROM THE DATE OF SIGNATURE.
                </div>
            </div>
        </div>
        {{/with}}
    </div>
</section>