{{#with RecordReleaseAuthorization}}            
<section class="frow" id="records-release-authorization">
    <div class="container-padding width-100">
        <div class="content">
            <div class="container centered mb-20">
                 <h2 class="text-center m-auto">RECORDS RELEASE/AUTHORIZATION</h2>
            </div>
            <div class="frow text-center mt-10 text-bold">
                <span>{{@root.AppointmentInformation.Office.OfficeName}}</span>
            </div>
            <div class="from text-center text-bold">
                <span>{{@root.AppointmentInformation.Office.Address}}</span>            
            </div>
            <div class="frow text-bold">
                <div class="col-1-2 text-right p-5">
                    <span>TEL# </span>
                    <span>{{@root.AppointmentInformation.Office.TelephoneNumber}}</span>
                </div>
                <div class="col-1-2 text-left p-5">
                    <span>FAX# </span>
                    <span>{{@root.AppointmentInformation.Office.Fax}}</span>
                </div>
            </div>
            <div class="text-center m-auto text-bold mt-10">RECORDS REQUESTED</div>
            <ul class="text-bold ml-50">
                <li>The patient's significant medical history</li>
                <li>Current medical findings</li>
                <li>Diagnosis (es)</li>
                <li>Rehabilitation goals, if determined</li>
            </ul>
            <table>
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <tr>
                    <td colspan="2">
                        <span>Name of Patient:</span>
                        <span class="p-5 text-bold">{{../PatientData/pyFullName}}</span>
                    </td>
                    <td colspan="2">
                        <span>Medicare No:</span>
                        <span class="p-5 text-bold">{{../PatientData.PatAccountID}}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Social Security No:</span>
                        <span class="p-5 text-bold">{{../PatientData/pySSN}}</span>
                    </td>
                    <td colspan="2">
                        <span>Date of Birth:</span>
                        <span class="p-5 text-bold">{{formatDate ../PatientData/DateOfBirth}}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <span>Address:</span>
                        <span class="p-5 text-bold">{{../PatientData/pyHomeAddress1}} {{../PatientData/pyHomeAddress2}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>City:</span>
                        <span class="p-5 text-bold">{{../PatientData/pyCity}}</span>
                    </td>
                    <td>
                        <span>State:</span>
                        <span class="p-5 text-bold">{{../PatientData/pyState}}</span>
                    </td>
                    <td colspan="2">
                        <span>Zip:</span>
                        <span class="p-5 text-bold">{{../PatientData/ZipCode}}</span>
                    </td>
                </tr>
            </table>

            
            <div class="frow justify-start mt-70 mb-20">
                <div class="col-1-2">
                    <span class="text-bold">AUTHORIZATION SIGNATURE:</span>
                     {{> signature name="authorization"}}
                </div>
                <div class="col-1-2 text-bold">
                    <span>DATE:</span>
                    <span class="p-5">{{formatDate SignatureDate}}</span>
                </div>
            </div>


            <table>
                <col width="33%">
                <col width="33%">
                <col width="33%">
                <tr>
                    <td colspan="3">
                        <span>NAME OF SIGNATORY:</span>
                        <span class="p-5 text-bold">{{NameOfSignatory}}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">(IF DIFFERENT FROM THE PATIENT)</td>
                </tr>
                <tr>
                    <td colspan="3">Relationship to patient:
                        <span class="p-5 text-bold">{{@root.AppointmentInformation.PatientData.LegalRepresentative.RelationshipToThePatient}}</span>
                    </td>
                </tr>
                <tr style="height: 80px">
                    <td colspan="1">
                        <span>Name of Witness:</span>
                        <span class="text-bold"> {{@root.AppointmentInformation.PatientData.Witness.pyFullName}}</span>
                    </td>
                    <td colspan="1"> 
                        <span>Signature of Witness:</span>
                        {{> signature name="witness"}}
                    </td>
                    <td colspan="1">
                        <span>Date:</span>
                        <span class="p-5 text-bold">{{formatDate WitnessDate}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
{{/with}}