{{#with ReferralForm}}
<section class="frow" id="referal-form">
        <div class="container-padding width-100">
          <div class="container centered mb-20">
            {{>formTitle ..}}
          </div>
          <div class="mds p-10 mb-10 mb-20 ba">
            <div class="frow justify-center">
                <span class="md-id">{{@root.SelectMD}}</span>
            </div>
          </div>
          <div class="agency p-10 mb-10 mb-20 ba">
            <div class="frow">
              <div class="item col-6-6">
                <span class="label">Name of Agency : </span>
                <span class="value">{{@root.AdmissionOrders.NameofHealthAgency}}</span>
              </div>
              <div class="item col-6-6">
                 <h3 class="label">Home Health Service </h3>
              </div>
              <div class="item col-6-6">
                {{> checkbox name="For Skill Nursing Services" IsChecked=ForSkillNursingServices}}
              </div>
              <div class="item col-6-6">
                {{> checkbox name="For Physical Therapy Treatment" IsChecked=ForPhysicalTherapyTreatment}}
                
              </div>
              <div class="item col-6-6">
                {{> checkbox name="For Occupational Therapy" IsChecked=ForOccupationalTherapy}}
              </div>
              <div class="item col-6-6"></div>
              <div class="item col-6-6 mt-30">
                <h3 class="label">Treatment</h3>
              </div>
              <div class="item col-6-6">
                {{> checkbox name="Pain Management" IsChecked=PainManagement}}
              </div>
              <div class="item col-6-6">
                {{> checkbox name="Psychiatry" IsChecked=Psychiatry}}
              </div>
              <div class="item col-6-6">
                {{> checkbox name="Neurology" IsChecked=Neurology}}
              </div>
              <div class="item col-6-6">
                {{> checkbox name="Wound Care Specialist" IsChecked=WoundCareSpecialist}}
              </div>
            </div>
          </div>
          <div class="labs p-10 mb-10 ba">
            <div class="lab-info">
              <div class="frow justify-start">
                <div class="item col-6-6">
                  <span class="label">Lab(s) </span>
                  <span class="value">_________</span>
                </div>
                {{#each @root.SelectedLabsOnReferal}}
                  <div class="item col-3-6" style="width: 50%">
                   {{> checkbox name=LabTypes IsChecked=IsChecked}}
                  </div>
                {{/each}}

              </div>
            </div>
          </div>
          <div class="signatures mt-60 mb-10">
            <div class="frow provider justify-start mb-60">
              <div class="frow title col-6-12 justify-start">
                <div class="col-4-12">
                  <span> Provider Name: </span>
                </div>
                <div class="col-8-12">
                  <span class="name text-underline px-30">{{@root.AppointmentInformation.SelectProvider}}</span>
                </div>
              </div>
              <div class="signature col-6-12 bb">
                Signature:
                 {{> signature name="provider"}}
              </div>
              <div class="frow date col-6-12 justify-start">
                <div class="col-4-12">
                  <span> Date: </span>
                </div>
                <div class="col-8-12">
                  <span class="name text-underline px-30">{{@root.AppointmentInformation.SignatureDate}}</span>
                </div>
              </div>
            </div>
            <div class="frow medical-provider justify-start">
              <div class="frow title col-6-12">
                <div class="col-4-12">
                  <span> Medical Provider Name: </span>
                </div>
                <div class="col-8-12">
                  <span class="name text-underline px-30">{{@root.SelectMD}}</span>
                </div>
              </div>
              <div class="signature col-6-12 bb">
                Signature:
                 {{> signature name="physician"}}
              </div>
              <div class="frow date col-6-12">
                <div class="col-4-12">
                  <span> Date: </span>
                </div>
                <div class="col-8-12">
                  <span class="name text-underline px-30">{{@root.AppointmentInformation.PhysicianSignatureDate}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>
{{/with}}